<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/admin.css">
<title>Insert title here</title>
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
</head>
<body>
<script type="text/javascript">
	function showBBSAdmin(bbsNo) {
		if (confirm('복구하시겠습니까?')) {
		location.href = "/admin/recover/" + bbsNo;
		}else{
			alert("복구가 취소되었습니다.")
		}
	}
	
	function clickSearchBtn(){
		 location.href = "/admin/adminShowOneList?page=1&perPageNum=10&searchType=" 
						 + $("select option:selected").val()
						 + "&keyword=" + encodeURIComponent($('#keywordInput').val());
	}
</script>
	<div class="adminCommonContainer">
		<span class="adminCommonTitle">게시판 관리 페이지</span>
		<span class="adminCommonSubTitle">-본인삭제 게시글-</span>
		<table class="adminCommonTable">
			<thead>
				<tr>
					<th class="adminCommonTableItem wd85">게시글번호</th>
					<th class="adminCommonTableItem wd412">제목</th>
					<th class="adminCommonTableItem wd85">게시일</th>
					<th class="adminCommonTableItem wd100">작성자</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="BBS : ${bbsListOne}">
					<td class="adminCommonTableItem wd85" th:text=${BBS.bbsNo}></td>
					<td class="adminCommonTableItem wd412"><a target="_parent" th:href="@{|/BBS/BBSlist/${BBS.bbsNo}|}" th:text=${BBS.bbsTitle}></a></td>
					<td class="adminCommonTableItem wd85" th:text=${BBS.bbsDate}></td>
					<td class="adminCommonTableItem wd100" th:text="${BBS.userNick}"></td>
				</tr>			
			</tbody>
		</table>
		<!-- 페이징 -->
		<div class="pageNumberBox" id="pageNumber" th:with="start=${pageMaker.startPage}, end=${pageMaker.endPage}">
			<ul style="list-style: none">
				<div style="display:inline-block;">
					<li class="pageNumberItem">
						<a th:href="@{|/admin/adminShowOneList${pageMaker.makeSearch(pageMaker.startPage-1)}|}">
							이전
						</a>
					</li>
				</div>
				<div style="display:inline-block;" th:each="num : ${#numbers.sequence(start,end)}">
					<li class="pageNumberItem">
						<code th:if="${pageMaker.cri.getPage() == num}" th:text="${num}"></code>
						<a th:unless="${pageMaker.cri.getPage() == num}" th:href="@{|/admin/adminShowOneList${pageMaker.makeSearch(num)}|}">
							<code th:text="${num}"></code>
						</a>
					</li>
				</div>
				<div style="display:inline-block;">
					<li class="pageNumberItem">
						<a th:href="@{|/admin/adminShowOneList${pageMaker.makeSearch(pageMaker.endPage+1)}|}">
							다음
						</a>
					</li>
				</div>
			</ul>
		</div>
		<!-- 검색 -->
		<div id="searchBBS">
			<select name="searchType">
				<option value="title" th:selected="${scri.searchType=='title'}">제목</option>
				<option value="content" th:selected="${scri.searchType=='content'}">내용</option>
				<option value="writer" th:selected="${scri.searchType=='writer'}">작성자</option>
			</select>
			<input type="text" name="keyword" id="keywordInput" th:value="${scri.keyword}" />
			<button id="headerSearchBtn" onclick="clickSearchBtn()">검색</button>
		</div>
		<button style="margin:20px;" onclick="window.parent.location.href='/BBS/listSearch'">사용자 게시판</button>
	</div>
</body>
</html>