<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>게시판 관리 페이지</h1>
	
	
	게시글 관리페이지에서는 복구 기능만?
	
	게시글 답변, 삭제는 게시판에서 게시글 들어가면 할 수 있음.  
	
	<br/>
	댓글  삭제는 게시글 들어가서 밑에 댓글 뜨면 그 페이지에서 지울 수 있음
	
	
	<h2>본인삭제 게시글</h2>
	<table border="1" width="800" height="100">
		<thead>
			<tr>
				<th>게시글번호</th>
				<th>제목</th>
				<th>게시일</th>
				<th>작성자</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="BBS : ${bbsListOne}">
				<td th:text=${BBS.bbsNo}></td>
				<td><a th:href="@{|/BBS/BBSlist/${BBS.bbsNo}|}" th:text=${BBS.bbsTitle}></a></td>
				<td th:text=${BBS.bbsDate}></td>
				<td th:text="${BBS.userNick}"></td>
				
			</tr>			
		</tbody>
		</table>
		
		
		<h2>관리자 삭제 게시글</h2>
	<table border="1" width="800" height="100">
		<thead>
			<tr>
				<th>게시글번호</th>
				<th>제목</th>
				<th>게시일</th>
				<th>작성자</th>
				<th>복구</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="BBS : ${bbsListTwo}">
				<td th:text=${BBS.bbsNo}></td>
				<td><a th:href="@{|/BBS/BBSlist/${BBS.bbsNo}|}" th:text=${BBS.bbsTitle}></a></td>
				<td th:text=${BBS.bbsDate}></td>
				<td th:text="${BBS.userNick}"></td>
				<td><button th:onclick="|location.href='@{/admin/recover/{bbsNo}(bbsNo=${BBS.bbsNo})}'|">복구</button></td>
			</tr>			
		</tbody>
		</table>
		
		
		
</body>
</html>