<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
</head>
<body>

<script type="text/javascript">
function showBBSAdmin(bbsNo) {
	if (confirm('복구하시겠습니까?')) {
	location.href = "/admin/recover/" + bbsNo;
	}else{
		alert("복구가 취소되었습니다.")
	}
}

function clickSearchBtn(){


	 location.href = "/admin/adminShowTwoList?page=1&perPageNum=10&searchType=" 
					 + $("select option:selected").val()
					 + "&keyword=" + encodeURIComponent($('#keywordInput').val());
}




</script>

	<h1>관리자 삭제 게시글 관리</h1>
	
	
	게시글 관리페이지에서는 복구 기능만?
	
	게시글 답변, 삭제는 게시판에서 게시글 들어가면 할 수 있음.  
	
	<br/>
	댓글  삭제는 게시글 들어가서 밑에 댓글 뜨면 그 페이지에서 지울 수 있음
	
	

		
		<h2>관리자 삭제 게시글</h2>
	<table border="1" width="800" height="100">
		<thead>
			<tr>
				<th>게시글번호</th>
				<th>제목</th>
				<th>게시일</th>
				<th>작성자</th>
				<th>복구</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="BBS : ${bbsListTwo}">
				<td th:text=${BBS.bbsNo}></td>
				<td><a th:href="@{|/BBS/BBSlist/${BBS.bbsNo}|}" th:text=${BBS.bbsTitle}></a></td>
				<td th:text=${BBS.bbsDate}></td>
				<td th:text="${BBS.userNick}"></td>
				<td>
				<button th:name="${BBS.bbsNo}"
				th:onclick="showBBSAdmin(this.getAttribute('name'))">
				복구</button>
				</td>
			</tr>			
		</tbody>
		</table>
		
		
	
		
<!-- 		관리자 삭제 게시글 페이징  -->
	<div id="pageNumber" th:with="start=${pageMaker.startPage}, end=${pageMaker.endPage}">
		<ul>
			<div>
				<li><a
					th:href="@{|/admin/adminShowTwoList${pageMaker.makeSearch(pageMaker.startPage-1)}|}">이전</a></li>
			</div>


			<!--			3페이지 까지 필요할때는 쩜 3개 찍힘 page 숫자 표시만 되면 되는데 -->
			<div th:each="num : ${#numbers.sequence(start,end)}">
				<li><code th:if="${pageMaker.cri.getPage() == num}"
						th:text="${num}"></code> <a
					th:unless="${pageMaker.cri.getPage()==num}"
					th:href="@{|/admin/adminShowTwoList${pageMaker.makeSearch(num)}|}"> <code
							th:text="${num}"></code></a></li>
			</div>

			<div>
				<!--			<div th:if="${pageMaker.next} and ${pageMaker.endPage} > 0">-->
				<li>
					<!-- 				<a th:href="@{|/BBS/listPage?page=${pageMaker.endPage + 1}&perPageNum=10|}">끝</a> -->
					<a
					th:href="@{|/admin/adminShowTwoList${pageMaker.makeSearch(pageMaker.endPage+1)}|}">다음</a>
				</li>
			</div>
		</ul>
	</div>
<br/>
<br/>

	
		
	


<!-- 관리자 삭제 게시글 검색 -->
		<div id="searchBBS">

			<select name="searchType">
				<!-- 				<option value="n" th:selected="${scri.searchType==null}"></option> -->
				<option value="title" th:selected="${scri.searchType=='title'}">제목</option>
				<option value="content" th:selected="${scri.searchType=='content'}">내용</option>
				<option value="writer" th:selected="${scri.searchType=='writer'}">작성자</option>
			</select>
			 <input type="text" name="keyword" id="keywordInput" th:value="${scri.keyword}" />

			<button id="headerSearchBtn" onclick="clickSearchBtn()">검색</button>
		</div>
		
		
		<button th:onclick="|location.href='@{/BBS/BBSlist}'|">사용자 게시판</button>
		<button th:onclick="|location.href='@{/admin}'|">관리자 홈</button>
		
</body>
</html>