<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.errormsg {
	color: red;
}
</style>
</head>
<body>
	<h1>사용자 블락 처리 / 사유 입력 페이지</h1>
	<br>
	
	

	<form action="" method="post" th:object="${USERS}">
	
		<label> 
		<input type="hidden" name="userNo" th:value="${user.userNo}">
		작성자<input type="text" name="userNick" th:value="${user.userNick}" readonly>
		 <!-- 	로그인한 사용자 정보에서 user_nick 불러오기  --> 
		 </label>
		 </br>
		<label>제목<input type="text" name="bbsTitle" th:field="*{bbsTitle}"></label>
		<div class="errormsg" th:errors="*{bbsTitle}"></div> 
		</br>
<label>내용<textarea name="bbsContent" th:field="*{bbsContent}"></textarea></label>
			<div class="errormsg" th:errors="*{bbsContent}"></div>  



		<div>
			<button type="submit">등록하기</button>
		</div>
	</form>

</body>
</html>