<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/admin.css">
<title>Insert title here</title>
</head>
<body>
<script>
	function clickSearchUserBtn(){
		location.href = "/admin/searchUserList?page=1&perPageNum=10&searchType="
						 + $("select option:selected").val() 
						 + "&keyword=" + encodeURIComponent($('#keywordInput').val());
	}
</script>
	<div class="adminCommonContainer">
		<span class="adminCommonTitle">회원 관리</span>
		<table class="adminCommonTable">
			<thead>
				<tr>
					<th class="adminCommonTableItem wd36">회원번호</th>
					<th class="adminCommonTableItem wd100">이메일</th>
					<th class="adminCommonTableItem wd100">닉네임</th>
					<th class="adminCommonTableItem wd85">가입일</th>
					<th class="adminCommonTableItem wd36">회원등급</th>
					<th class="adminCommonTableItem wd36">상태</th>
					<th class="adminCommonTableItem wd70">등급/상태 관리</th>
					<th class="adminCommonTableItem wd85">탈퇴일</th>
					<th class="adminCommonTableItem wd114">블락사유</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="Users : ${searchUserList}">
					<td class="adminCommonTableItem wd36" th:text=${Users.userNo}></td>
					<td class="adminCommonTableItem wd100" th:text=${Users.userEmail}></td>
					<td class="adminCommonTableItem wd100" th:text=${Users.userNick}></td>
					<td class="adminCommonTableItem wd85" th:text="${Users.joinDate}"></td>
					<td th:if="${Users.userGrade}==0" class="adminCommonTableItem wd36">운영</td>
					<td th:if="${Users.userGrade}==1" class="adminCommonTableItem wd36">관리</td>
					<td th:if="${Users.userGrade}==2" class="adminCommonTableItem wd36">회원</td>
					<td th:if="${Users.userStatus}==0" class="adminCommonTableItem wd36">정상</td>
					<td th:if="${Users.userStatus}==1" class="adminCommonTableItem wd36">탈퇴</td>
					<td th:if="${Users.userStatus}==2" class="adminCommonTableItem wd36">블락</td>
					<td class="adminCommonTableItem wd70"><button th:onclick="|location.href='@{/admin/updateGrade/{userNo}(userNo=${Users.userNo})}'|">관리</button></td>
					<td class="adminCommonTableItem wd85" th:text=${Users.leaveDate}></td>
					<td class="adminCommonTableItem wd114" th:text=${Users.blockReason}></td>
				</tr>			
			</tbody>
		</table>
		<!-- 페이징 -->
		<div class="pageNumberBox" id="pageNumber" th:with="start=${pageMaker.startPage}, end=${pageMaker.endPage}">
			<ul style="list-style: none">
				<div style="display:inline-block;">
					<li class="pageNumberItem">
						<a th:href="@{|/admin/searchUserList${pageMaker.makeSearch(pageMaker.startPage-1)}|}">
							이전
						</a>
					</li>
				</div>
				<div style="display:inline-block;" th:each="num : ${#numbers.sequence(start,end)}">
					<li class="pageNumberItem">
						<code th:if="${pageMaker.cri.getPage() == num}" th:text="${num}"></code>
						<a th:unless="${pageMaker.cri.getPage() == num}" th:href="@{|/admin/searchUserList${pageMaker.makeSearch(num)}|}">
							<code th:text="${num}"></code>
						</a>
					</li>
				</div>
	
				<div style="display:inline-block;">
					<li class="pageNumberItem">
						<a th:href="@{|/admin/searchUserList${pageMaker.makeSearch(pageMaker.endPage+1)}|}">
							다음
						</a>
					</li>
				</div>
			</ul>
		</div>
		<!-- 검색 -->
		<div id="searchUser">
			<select name="searchType">
				<!-- 				<option value="n" th:selected="${scri.searchType==null}"></option> -->
				<option value="userNo" th:selected="${scri.searchType=='userNo'}">회원번호</option>
				<option value="email" th:selected="${scri.searchType=='email'}">이메일</option>
				<option value="nick" th:selected="${scri.searchType=='nick'}">닉네임</option>
			</select>
			<input type="text" name="keyword" id="keywordInput" th:value="${scri.keyword}" />
			<button id="headerSearchBtn" onclick="clickSearchUserBtn()">검색</button>
		</div>
	</div>
</body>
</html>