<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/admin.css">
<title>Insert title here</title>
</head>
<body>
<script type="text/javascript">
function updateUserOk(){
	if(confirm('변경하시겠습니까?')){
		document.getElementById("updateUserStatus").submit();
	}else{
		alert("변경이 취소되었습니다.");
		location.href = "/admin/searchUserList";
	}
	return false;
}


</script>
	<div class="adminCommonContainer">
		<span class="adminCommonTitle">회원 등급/상태(블락,복구) 변경</span>
		<form id="updateUserStatus" action="" method="post" th:object=${Users}>
			<div style="width:400px; display:inline-block; margin:0px auto">
				<ul style="text-align: left;">
					<li class="down20">
						<span class="bText">회원번호: </span>
						<span th:text="*{userNo}"></span>
					</li>
					<li class="down20">
						<span class="bText">이메일: </span>
						<span th:text="*{userEmail}"></span>
					</li>
					<li class="down20">
						<span class="bText">닉네임: </span>
						<span th:text="*{userNick}"></span>
					</li>
					<li class="down20">
						<span class="bText">회원등급: </span>
						<select name="userGrade">
							<option value="1" th:selected="${Users.userGrade}=='1'">관리자</option>
							<option value="2" th:selected="${Users.userGrade}=='2'">일반회원</option>
						</select>
					</li>
					<li class="down20">		
						<span class="bText">회원상태: </span>
						<select name="userStatus">
							<option value="0" th:selected="${Users.userStatus}=='0'">정상</option>
							<option value="2" th:selected="${Users.userStatus}=='2'">블락</option>
						</select>
					</li>
					<li class="down20">
						<span class="bText">블락사유 :<br></span>
						<textarea name="blockReason" th:field="*{blockReason}" style="width:300px; height:100px"></textarea>
					</li>
				</ul>
			</div>
		</form>
		<button id="changeUserBtn" type="button" onclick="updateUserOk()">변경하기</button>
		<button id="goListBtn" onclick="location.href='/admin/searchUserList'">회원목록</button>
	</div>
</body>
</html>