<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>회원 블락 처리</h1>

	<p>관리자 권한 부여 USER_GRADE 운영진:0 , 관리자:1 , 일반회원:2</p>

	<form action="" method="post" th:object=${Users}>
		<table border="1" width="1000" height="100">
			<thead>
				<tr>
					<th>회원번호</th>
					<th>이메일</th>
					<th>닉네임</th>
					<th>회원등급</th>
					<th>상태</th>
					<th>블락사유</th>
					<th>변경</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" name="userNo" th:field=*{userNo} readonly="readonly"></td>
					<td><input type="text" name="userEmail" th:field=*{userEmail} readonly="readonly"></td>
					<td><input type="text" name="userNick" th:field=*{userNick} readonly="readonly"></td>
					<td><input type="text" name="userGrade" th:field="*{userGrade}" readonly="readonly"></td>
					<td><input type="text" name="userStatus" th:field=*{userStatus} ></td>
					<td><input type="text" name="blockReason" th:field=*{blockReason} ></td>
					<td><button type="submit">변경</button></td>
				</tr>
			</tbody>
		</table>
	</form>

</body>
</html>