         <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<script>
 function clickSearchBtn(){
	 location.href = "/admin/userlist?page=1&perPageNum=10&searchType=" + $("select option:selected").val() + "&keyword=" + encodeURIComponent($('#keywordInput').val());
 }
</script>

	<h1>회원 관리</h1>
	<p>회원목록 출력</p>
	<p>관리자 권한 부여 USER_GRADE 운영진:0 , 관리자:1 , 일반회원:2 </p>
 	<p>USER_STATUS 정상상태:0 블락상태:1</p> 
	
	<table border="1" width="1000" height="100">
		<thead>
			<tr>
				<th>회원번호</th>
				<th>이메일</th>
				<th>닉네임</th>
				<th>가입일</th>
				<th>회원등급</th>
				<th>상태</th>
				<th>등급/상태 관리</th>
				<th>탈퇴일</th>
				<th>블락사유</th>
<!-- 				<th>블락</th> -->
<!-- 				<th>블락복구</th> -->
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="Users : ${userList}">
				<td th:text=${Users.userNo}></td>
				<td th:text=${Users.userEmail}></td>
				<td th:text=${Users.userNick}></td>
				<td th:text=${Users.joinDate}></td>
				<td th:text=${Users.userGrade}></td>
				<td th:text=${Users.userStatus}></td>
				<td><button th:onclick="|location.href='@{/admin/updateGrade/{userNo}(userNo=${Users.userNo})}'|">관리</button></td>
				<td th:text=${Users.leaveDate}></td>
				<td th:text=${Users.blockReason}></td>
<!-- 				<td><button th:onclick="|location.href='@{/admin/updateUserStatus/{userNo}(userNo=${Users.userNo})}'|">블락</button></td> -->
<!-- 				<td><button>복구</button></td> -->
				
			</tr>			
		</tbody>
		</table>
		
		
	


		
	
	<button th:onclick="|location.href='@{/admin}'|">관리자 홈</button>
</body>
</html>