<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/user.css">
<title>약도 - 닉네임 변경</title>
</head>
<body>
	<div class="modifyNickContainor">
		<h2>닉네임 변경</h2>
		
		<div class="myInfoUserEmail">
			<div>이메일</div>
			<div>
				<input type="text" name="userEmail" class="userEmailInput" th:placeholder="${user.userEmail}" readonly/>
			</div>
		</div>
		<div class="modifyNickname">
			<div>닉네임</div>
			<form action="/help/modifyNickName" method="post">
				<div>
					<input type="text" name="userNick" class="userNickInput" th:value="${user.userNick}"/>
				</div>
				<div>
					<button type="submit" class="userNickInputBtn">수정</button>
				</div>
			</form>
		</div>
		<div>
			<button type="button" class="userNickCancelBtn" onClick="location.href='/help/myPage'">취소</button>
		</div>
	</div>
</body>
</html>