<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/user.css">
<title>약도 - 비밀번호 변경</title>
</head>
<body>
	<div class="modifyPwContainor">
		<div class="modifyPwTitleBox">
			<div class="d_CSS">
				<span class="mainTitle1" onclick="location.href='/'">약도</span>
				<span class="mainTitle2" onclick="location.href='/'">藥道<br></span>
				<hr class="perforatedLine" />
				<div class="mainTitle3">
					<span>
						안전한 비밀번호로 개인 정보를 보호하세요
						<br>
						<span class="modifyPwPoint"><strong>다른 아이디/사이트에서 사용한 적 없는</strong></span>
						비밀번호가 안전합니다
					</span>
				</div>
			</div>
		</div>
		
		<div class="modifyPwInput">
			<form action="/help/modifyPassword" method="post">
		     	<div><input type="password" name="userPw" placeholder="현재 비밀번호" autofocus /></div>
		     	<div><input type="password" name="userPwNew" placeholder="새 비밀번호" /></div>
		     	<div><input type="password" name="userPwNewCheck" placeholder="새 비밀번호 확인" /></div>
		     	<button type="submit" class="modifyPwBtn">수정</button>
		     	<button type="button" class="modifyPwCancelBtn" onClick="location.href='/help/myPage'">취소</button>
	      	</form>
      	</div>
	</div>
</body>
</html>