<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/user.css">
<link rel="stylesheet" type="text/css" href="/css/home_component.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<title>약도 - 건강 정보 변경</title>
</head>
<body>
	<h1>건강 정보 변경</h1>
	<div>
		<div id="familyContainor">
		</div>
		
		<div>
			<form action="/help/selectTarget">
				<select>
					<option>가족 닉네임</option>
				</select>
				<button type="submit">선택</button>
			</form>
		</div>
			
		<div>
			<form action="/help/modifyMyInfo" method="post">
				<button type="submit">회원 탈퇴</button>
			</form>
		</div>
	</div>
</body>
</html>