<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/user.css">
<title>약도 - 닉네임 변경</title>
</head>
<body>
	<div class="modifyNickContainor">
		<div class="signUpTitleBox">
			<div class="d_CSS">
				<span class="mainTitle1" onclick="location.href='/'">약도</span>
				<span class="mainTitle2" onclick="location.href='/'">藥道<br></span>
				<hr>
				<div class="mainTitle3">
					<span>변경할 닉네임을 입력해 주세요</span>
				</div>
			</div>
		</div>
		
		<div class="myInfoUserEmail">
			<div>이메일</div>
			<div>
				<input type="text" name="userEmail" class="userEmailInput" th:placeholder="${user.userEmail}" readonly/>
			</div>
		</div>
		<div class="modifyNickname">
			<div>닉네임</div>
			<form action="/help/modifyNickName" method="post">
				<div>
					<input type="text" id="userNick" name="userNick" class="userNickInput" autofocus/>
				</div>
				<div>
					<button type="submit" class="userNickInputBtn cursor">수정</button>
				</div>
				<div>
					<button type="button" class="userNickCancelBtn cursor" onClick="location.href='/help/myPage'">취소</button>
				</div>
			</form>
		</div>
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		const userNick = document.getElementById('userNick');
		userNick.value = /*[[${user.userNick}]]*/;
		/*]]>*/
	</script>
</body>
</html>