<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/user.css">
<title>약도 - 비밀번호 찾기</title>
</head>
<body>
	<div class="ContentBox center">
		<div class="mainTitleBox">
			<div class="d_CSS">
				<span class="mainTitle1" onclick="location.href='/'">약도</span>
				<span class="mainTitle2" onclick="location.href='/'">藥道<br></span>
				<hr>
				<span>새롭게 사용할 비밀번호를 입력해주세요</span>
			</div>
		</div>
		<div class="d-CSS findForm">
			<form action="/help/newPassword" method="post">
				<div class="findPwBox">
					<input type="text" id="userEmail" name="userEmail" th:value="${userEmail}" readonly />
				</div>
				<div class="findPwBox">
					<input type="password" id="newPw" name="newPw" placeholder="새 비밀번호" />
				</div>
				<div class="findPwBox">
					<input type="password" id="newPwConfirm" name="newPwConfirm" placeholder="새 비밀번호 확인" />
				</div>
				
				<button id="changeBtn" type="submit">수정</button>
				<button id="goHomeBtn" type="button" onclick="location.href='/'">메인화면으로</button>
			</form>
		</div>
	</div>
</body>
</html>