<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/user.css">
<title>약도 - 비밀번호 찾기</title>
</head>
<body>
	<div class="ContentBox center">
		<div class="mainTitleBox">
			<div class="d_CSS">
				<span class="mainTitle1" onclick="location.href='/'">약도</span>
				<span class="mainTitle2" onclick="location.href='/'">藥道<br></span>
				<hr class="perforatedLine" />
				<div class="mainTitle3">
					<span>
						새롭게 사용할 비밀번호를 입력해주세요
						<br>
						<span class="modifyPwPoint"><strong>다른 아이디/사이트에서 사용한 적 없는</strong></span>
						비밀번호가 안전합니다<br>
						<br>
						비밀번호는 최소 8자 최대 16자까지 허용되며,<br>
						<span class="modifyPwPoint"><strong>영어 대소문자, 숫자 조합</strong></span>이어야 합니다<br>
						※사용 불가 특수문자 : &lt;,  &gt;, 공백
						<br>
						<br>
					</span>
					<span th:if="${errorMsg}!=null" th:text="${errorMsg}" class="errorMessage"></span>
				</div>
				
			</div>
		</div>
		<div class="d-CSS findForm">
			<form action="/help/newPassword" method="post">
				<div class="findPwBox">
<!-- 					<input type="text" id="userEmail" name="userEmail" th:placeholder="${userEmail}" readonly /> -->
					<input type="text" id="userEmail" name="userEmail" th:value="${userEmail}" readonly />
				</div>
				<div class="findPwBox">
					<input type="password" id="newPw" name="newPw" placeholder="새 비밀번호" autofocus />
				</div>
				<div class="findPwBox">
					<input type="password" id="newPwConfirm" name="newPwConfirm" placeholder="새 비밀번호 확인" />
				</div>
				
				<button id="changeBtn" type="submit">수정</button>
				<button id="goHomeBtn" type="button" onclick="location.href='/'">메인화면으로</button>
			</form>
		</div>
	</div>
</body>
</html>