<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project3.yakdo.repository.mybatis.AdminMapper">

<!-- 회원 목록 불러오기 -->
	<select id="" resultType="">
		select * from users
	</select>

	<select id="selectByBBS_show_1" resultType="BBS">
		  select
		BBS_no,
		user_no,
		BBS_title,
		BBS_content,
		BBS_date,
		BBS_show
		from BBS b
		where BBS_show=1
		order by BBS_no desc
	</select>
	
	
	<select id="selectByBBS_show_2" resultType="BBS">
		  select
		BBS_no,
		user_no,
		BBS_title,
		BBS_content,
		BBS_date,
		BBS_show
		from BBS b
		where BBS_show=2
		order by BBS_no desc
	</select>
	
<!--	관리자 회원 블락 --> 
	<update id="">
		update users
		set 
		user_status=2
		user_no={#userNo}
	</update>
	
<!--	관리자 블락 회원 복구 --> 
	<update id="">
		update users
		set 
		user_status=1
		user_no={#userNo}
	</update>
	
	<!-- 관리자 권한 임명-->
	<update id="">
		update users
		set 
		user_status=0
		user_no={#userNo}
	</update>
	<!-- 댓글 게시글 삭제는 BBSMapper에 있는데 여기로 옮겨야할지 .. -->
	
	
	
	
</mapper>