<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project3.yakdo.repository.mybatis.BBSMapper">

	<!-- 게시글 작성 -->
	<insert id="insertBBS" parameterType="BBS">
		<selectKey keyProperty="bbsNo"
			resultType="java.lang.Integer" order="BEFORE">
			select BBSPK.nextVal as BBS_no from dual
		</selectKey>
		insert into BBS
		(
		BBS_no,
		user_no,
		BBS_title,
		BBS_content,
		BBS_date,
		BBS_show
		)
		values
		(
		#{bbsNo},
		<!-- #{user_no}, 일단 Test로 3 넣어보기, 추후 수정 필요 - 로그인한 사람 아이디에 맞는 user_no 를 
			insert -->
		#{userNo},
		#{bbsTitle},
		#{bbsContent},
		<!-- #{BBS_date} 는 #{sysdate} -->
		sysdate,
		<!-- to_char(sysdate.'YYYY-MM-DD HH24:MI:SS'), -->
		<!-- #{BBS_show} 는 일단 글 등록하면 게시해야하니까 값을 0으로 넣어줌 -->
		0
		)
	</insert>

	<!-- 게시글 읽기 -->
	<select id="selectBybbsNo" resultType="BBS">
		<!-- 게시글 클릭시 선택한 게시글 보여주기 -->
		<!-- 게시글 보여줄때 user_no에 맞는 닉네임 찾아서 같이 출력되어야함 -->
		select
		b.BBS_no,
		b.BBS_title,
		b.BBS_content,
		b.BBS_date,
		u.user_nick
		from
		BBS b , users u
		WHERE b.BBS_no = #{bbsNo}
		and b.user_no = u.user_no
	</select>

	<!-- 게시글 전체 목록 보기 -->
	<select id="selectByShowZero" resultType="BBS">
		<!-- BBS_show 값이 0(게시) 1(본인삭제) 2(관리자삭제) 이기 때문에 0인것만 목록에 출력 -->
		<!-- 데이터 안넘어와서 테스트용 쿼리로 변경함 / 추후 수정 예정 -->
		<!-- 쿼리 수정 완료 -->
		select
		b.BBS_no,
		b.user_no,
		u.user_nick,
		b.BBS_title,
		b.BBS_content,
		b.BBS_date,
		b.BBS_show
		from BBS b, users u
		where b.BBS_show = 0
		and
		u.user_no = b.user_no
		order by BBS_no desc
		<!-- 위의 쿼리로 실행하면 SQL state [99999]; error code [17132]; 부적합한 변환이 요청됨 에러 -->
		<!-- 실제로 필요한 결과 데이터를 불러오려면 위의 쿼리가 필요한것같은데...일단 주석 12-21-09:47 -->
	</select>


	<!-- 게시글 수정 -->
	<update id="updateBBS" parameterType="BBS">
		update BBS
		set
		BBS_title=#{updateItem.bbsTitle},
		BBS_content=#{updateItem.bbsContent}
		where BBS_no=#{bbsNo}
	</update>

	<!-- 본인 삭제 / 게시글 전체 목록에서 숨기기 -->
	<update id="updateShowOneBybbsNo">
		update BBS
		set BBS_show=1
		where BBS_no=#{bbsNo}
	</update>

	<!-- 관리자 삭제 / 게시글 전체 목록에서 숨기기 -->
	<update id="updateShowTwoBybbsNo">
		update BBS
		set BBS_show=2
		where BBS_no=#{bbsNo}
	</update>

	<!-- 회원이 삭제한 게시글 목록 -->
	<select id="selectByShowOne" resultType="BBS">
		select
		b.BBS_no,
		b.user_no,
		b.BBS_title,
		b.BBS_content,
		b.BBS_date,
		b.BBS_show,
		u.user_nick
		from BBS b , users u
		where BBS_show=1 and b.user_no = u.user_no
		order by
		BBS_no desc

	</select>

	<!-- 관리자가 삭제한 게시글 목록 불러오기 -->
	<select id="selectByShowTwo" resultType="BBS">
		select
		b.BBS_no,
		b.user_no,
		b.BBS_title,
		b.BBS_content,
		b.BBS_date,
		b.BBS_show,
		u.user_nick
		from BBS b , users u
		where BBS_show=2 and b.user_no = u.user_no
		order by
		BBS_no desc
	</select>

	<!-- 관리자 삭제 게시글 복구 -->
	<update id="updateShowZeroBybbsNo">
		update BBS
		set BBS_show=0
		where BBS_no=#{bbsNo}
	</update>

	
	
	<!-- rNum의 제한값을 임의로 바꾸는 것으로 페이징 구현-->
	 <!--닉네임도 불러오면서 bbs_show 상태 0 인 게시물들 10개씩 잘라서 출력하는걸로 수정-->
	<select id="listPage" resultType="BBS">
	 select BBS_no, user_no,
		BBS_title, BBS_content, BBS_date, BBS_show, user_nick
		from (
          select 
        b.BBS_no, 
        b.user_no, 
        b.BBS_title, 
        b.BBS_content, 
        b.BBS_date, 
        b.BBS_show,
		row_number() over(order by BBS_no desc) as rNum,
        u.user_nick       
		from bbs b, users u
        where b.user_no = u.user_no) b
		where rNum between #{rowStart} and #{rowEnd}
		and BBS_show=0
		order by BBS_no desc
	</select>
	
	
	
<!-- 	게시물의 총 갯수를 구하는 쿼리 -->
	<select id="listCount" resultType="int">
		select count(bbs_no)
		from bbs
		where bbs_no > 0
	</select>
	
	
<!-- 	검색 -->
<!-- 
	<select id="listSearch" resultType="BBS" parameterType="SearchCriteria">
		 select BBS_no,
		user_no,
		BBS_title,
		BBS_content,
		BBS_date,
		BBS_show
    from (
        select BBS_no,
		user_no,
		BBS_title,
		BBS_content,
		BBS_date,
		BBS_show,
            row_number() over(order by bbs_no desc) as rNum
        from bbs
           
           <include refid="search"></include>
        ) b
   where rNum between #{rowStart} and #{rowEnd}
        order by BBS_no desc
	</select> -->
	
	
<!-- 	검색+페이징 쿼리  -->
<!-- 	<select id="listSearch" resultType="BBS" parameterType="SearchCriteria"> -->
<!-- 	   select BBS_no, user_no, -->
<!-- 		BBS_title, BBS_content, BBS_date, BBS_show, user_nick -->
<!-- 		from ( -->
<!--           select  -->
<!--         b.BBS_no,  -->
<!--         b.user_no,  -->
<!--         b.BBS_title,  -->
<!--         b.BBS_content,  -->
<!--         b.BBS_date,  -->
<!--         b.BBS_show, -->
<!-- 		row_number() over(order by BBS_no desc) as rNum, -->
<!--         u.user_nick        -->
<!-- 		from bbs b, users u -->
<!-- <if test='searchType.equals("bbsTitle")'> -->
<!-- 	where  BBS_TITLE like '%' || #{keyword} || '%'  -->
<!-- </if> -->

<!-- <if test='searchType.equals("bbsContent")'> -->
<!-- 	where  BBS_CONTENT like '%' || #{keyword} || '%' -->
<!-- </if> -->
<!--         and b.user_no = u.user_no  -->
<!--         ) -->
<!--          b -->
<!-- 		where rNum between #{rowStart} and #{rowEnd} -->
<!-- 		and BBS_show=0 -->
<!-- 		order by BBS_no desc -->
<!-- 		</select> -->
		
		
		<!-- 	검색+페이징 쿼리 2번째 방법 -->
<!-- 	<select id="listPageSearch" resultType="BBS" parameterType="SearchCriteria"> -->
<!-- 	   select BBS_no, user_no, -->
<!-- 		BBS_title, BBS_content, BBS_date, BBS_show, user_nick -->
<!-- 		from ( -->
<!--           select  -->
<!--         b.BBS_no,  -->
<!--         b.user_no,  -->
<!--         b.BBS_title,  -->
<!--         b.BBS_content,  -->
<!--         b.BBS_date,  -->
<!--         b.BBS_show, -->
<!-- 		row_number() over(order by BBS_no desc) as rNum, -->
<!--         u.user_nick        -->
<!-- 		from bbs b, users u -->
<!-- <if test='searchType.equals("bbsTitle")'> -->
<!-- 	where  BBS_TITLE like '%' || #{keyword} || '%'  -->
<!-- </if> -->

<!-- <if test='searchType.equals("bbsContent")'> -->
<!-- 	where  BBS_CONTENT like '%' || #{keyword} || '%' -->
<!-- </if> -->
<!--         and b.user_no = u.user_no  -->
<!--         ) -->
<!--          b -->
<!-- 		where rNum between #{rowStart} and #{rowEnd} -->
<!-- 		and BBS_show=0 -->
<!-- 		order by BBS_no desc -->
<!-- 		</select>  -->
		
 <!-- 검색 조건문 (이것도 다시 살림)  01-03 9:39--> 
  
<!-- <sql id="search"> -->
<!-- 	<if test="searchType != null"> -->
<!-- 		<if test="searchType == 'title'.toString()"> where  BBS_TITLE like '%' || #{keyword} || '%' </if> -->
<!-- 		<if test="searchType == 'content'.toString()"> where  BBS_CONTENT like '%' || #{keyword} || '%' </if> -->
<!-- 	</if> -->
<!-- </sql> -->

	<!-- 닉네임 같이 불러오면서 제목,내용,작성자 검색 결과 출력(다시 처음 방법으로 시도) 01-03 9:39 -->
	<select id="listSearch" resultType="BBS"
		parameterType="SearchCriteria">
		select BBS_no, user_no,
		BBS_title, BBS_content, BBS_date, BBS_show,user_nick
		from (
		select
		b.BBS_no,
		b.user_no,
		b.BBS_title,
		b.BBS_content,
		b.BBS_date,
		b.BBS_show,
		(row_number() over(order by BBS_no desc)) as rNum,
		u.user_nick
		from bbs b, users u
		<where>
			<if test="searchType == 'title'">
			AND BBS_TITLE like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'content'">
			AND BBS_CONTENT like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'writer'">
			AND USER_NICK like '%' || #{keyword} || '%'
			</if>
		and b.user_no = u.user_no
		</where>
		) b
		where rNum between #{rowStart} and #{rowEnd}
		and BBS_show=0
		order by BBS_no desc
	</select>

	



	<!-- 검색조건에 맞는 게시물 갯수 구하는 쿼리 (여기서 계속 sql에러 났었음) -->
	<select id="countSearch" resultType="int">
	
		select count(bbs_no)
		from bbs
	<where>
			<if test="searchType == 'title'"> 
			AND BBS_TITLE like '%' || #{keyword} || '%' 
			</if>
			<if test="searchType == 'content'"> 
			AND BBS_CONTENT like '%' || #{keyword} || '%' 
			</if>
		and bbs_no > 0
		</where>
	</select>

<!-- 방법 3 제목  -->
<select id="listSearchByTitle" resultType="BBS"
		parameterType="SearchCriteria">
		select BBS_no, user_no,
		BBS_title, BBS_content, BBS_date, BBS_show,
		user_nick
		from (
		select
		b.BBS_no,
		b.user_no,
		b.BBS_title,
		b.BBS_content,
		b.BBS_date,
		b.BBS_show,
		(row_number() over(order by BBS_no desc)) as rNum,
		u.user_nick
		from bbs b, users u
		where BBS_TITLE like '%' || #{keyword} || '%'
		and b.user_no = u.user_no
		) b
		where rNum between #{rowStart} and #{rowEnd}
		and BBS_show=0
		order by
		BBS_no desc
	</select>
	
	
		<!-- 방법 3 제목 - 검색조건에 맞는 게시물 갯수 구하는 쿼리 (여기서 계속 sql에러 났었음) -->
	<select id="countSearchTitle" resultType="int">
		select count(bbs_no)
		from bbs
	    where BBS_TITLE like '%' || #{keyword} || '%' 
		and bbs_no > 0
	</select>
	
	
	
	
	<!-- 방법 3 내용  -->
<select id="listSearchByContent" resultType="BBS"
		parameterType="SearchCriteria">
		select BBS_no, user_no,
		BBS_title, BBS_content, BBS_date, BBS_show,
		user_nick
		from (
		select
		b.BBS_no,
		b.user_no,
		b.BBS_title,
		b.BBS_content,
		b.BBS_date,
		b.BBS_show,
		(row_number() over(order by BBS_no desc)) as rNum,
		u.user_nick
		from bbs b, users u
		where BBS_CONTENT like '%' || #{keyword} || '%'
		and b.user_no = u.user_no
		) b
		where rNum between #{rowStart} and #{rowEnd}
		and BBS_show=0
		order by
		BBS_no desc
	</select>
	
			<!-- 방법 3 내용 - 검색조건에 맞는 게시물 갯수 구하는 쿼리 (여기서 계속 sql에러 났었음) -->
	<select id="countSearchContent" resultType="int">
		select count(bbs_no)
		from bbs
	    where BBS_CONTENT like '%' || #{keyword} || '%' 
		and bbs_no > 0
	</select>







</mapper>
