<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project3.yakdo.repository.mybatis.BBSMapper">

<!-- INSERT 관련 쿼리문 -->

	<!-- 게시글 작성 -->
	<insert id="insertBBS" parameterType="BBS">
		<selectKey keyProperty="bbsNo"
			resultType="java.lang.Integer" order="BEFORE">
			select BBSPK.nextVal as BBS_no
			from dual
		</selectKey>
		insert into BBS
		(
		BBS_no,
		user_no,
		BBS_title,
		BBS_content,
		BBS_date,
		BBS_show
		)
		values
		(
		#{bbsNo},
		#{userNo},
		#{bbsTitle},
		#{bbsContent},
		sysdate,
		0
		)
	</insert>
	
	<!-- 답글 테이블 insert -->
	<insert id="insertReply" parameterType="Reply">
		insert into reply
		(
		re_no,
		bbs_no,
		user_no,
		re_title,
		re_content,
		re_date,
		re_show
		)
		values(
		(NVL(((select MAX(re_no) from reply where bbs_no=#{bbsNo})+1),1)),
		#{bbsNo},
		#{userNo},
		#{reTitle},
		#{reContent},
		sysdate,
		0
		)
	</insert>

<!-- SELECT 관련 쿼리문 -->

	<!-- 게시글 상세보기 -->
	<select id="selectBybbsNo" resultType="BBS">
		select
		b.BBS_no,
		b.BBS_title,
		b.BBS_content,
		b.BBS_date,
		u.user_nick
		from
		BBS b , users u
		WHERE b.BBS_no = #{bbsNo}
		and b.user_no = u.user_no
	</select>

	<!-- 게시글 전체 목록 보기 -->
	
	<select id="selectByShowZero" resultType="BBS">
		<!-- BBS_show 값이 0(게시) 1(본인삭제) 2(관리자삭제) 이기 때문에 0인것만 목록에 출력 -->
		select
		b.BBS_no,
		b.user_no,
		u.user_nick,
		b.BBS_title,
		b.BBS_content,
		b.BBS_date,
		b.BBS_show
		from BBS b, users u
		where b.BBS_show = 0
		and
		u.user_no = b.user_no
		order by BBS_no desc
	</select>
	
	<!-- 회원이 삭제한 게시글 목록 -->
	
	<select id="selectByShowOne" resultType="BBS">
		select
		b.BBS_no,
		b.user_no,
		b.BBS_title,
		b.BBS_content,
		b.BBS_date,
		b.BBS_show,
		u.user_nick
		from BBS b , users u
		where BBS_show=1 and b.user_no = u.user_no
		order by
		BBS_no desc
	</select>
	
	<!-- 관리자가 삭제한 게시글 목록 불러오기 -->
	
	<select id="selectByShowTwo" resultType="BBS">
		select
		b.BBS_no,
		b.user_no,
		b.BBS_title,
		b.BBS_content,
		b.BBS_date,
		b.BBS_show,
		u.user_nick
		from BBS b , users u
		where BBS_show=2 and b.user_no = u.user_no
		order by
		BBS_no desc
	</select>
	
	<!-- 게시글 페이징+검색 -->
	<!-- 	최근 게시물 기준으로 내림차순으로 rNum(row_number)부여 -->
	<!-- 	그 후 전체 목록에서 rNum의 값이 1부터 10까지의 데이터 출력  -->
	 
	<select id="listSearch" resultType="BBS"
		parameterType="SearchCriteria">
		select BBS_no, user_no,
		BBS_title, BBS_content, BBS_date,
		BBS_show,user_nick
		from
		(
		select
		b.BBS_no,
		b.user_no,
		b.BBS_title,
		b.BBS_content,
		b.BBS_date,
		b.BBS_show,
		(row_number() over(order by BBS_no desc)) as rNum,
		u.user_nick
		from bbs b, users u
		<where>
			b.user_no = u.user_no and BBS_show=0
			<if test="searchType == 'title'">
				AND BBS_TITLE like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'content'">
				AND BBS_CONTENT like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'writer'">
				AND u.USER_NICK like '%' || #{keyword} || '%'
			</if>
		</where>
		) b
		where rNum between #{rowStart} and #{rowEnd}
		order by BBS_no desc
	</select>
	
	<!-- 검색조건에 맞는 게시물 갯수 구하는 쿼리 -->
	
	<select id="countSearch" resultType="int">
		select count(b.bbs_no)
		from bbs b, users u
		<where>
		BBS_show=0
			<if test="searchType == 'title'">
				AND BBS_TITLE like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'content'">
				AND BBS_CONTENT like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'writer'">
				AND USER_NICK like '%' || #{keyword} || '%'
			</if>
			and bbs_no > 0
			 and b.user_no=u.user_no      
		</where>
	</select>
	
		<!-- 본인 삭제 글 리스트 페이징 -->
	<select id="adminShowOnelist" resultType="BBS"
		parameterType="SearchCriteria">
		select BBS_no, user_no,
		BBS_title, BBS_content, BBS_date,
		BBS_show,user_nick
		from (
		select
		b.BBS_no,
		b.user_no,
		b.BBS_title,
		b.BBS_content,
		b.BBS_date,
		b.BBS_show,
		(row_number() over(order by BBS_no
		desc)) as rNum,
		u.user_nick
		from bbs b, users u
		<where>
		 b.user_no = u.user_no and BBS_show=1
			<if test="searchType == 'title'">
				AND BBS_TITLE like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'content'">
				AND BBS_CONTENT like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'writer'">
				AND u.USER_NICK like '%' || #{keyword} || '%'
			</if>
		</where>
		) b
		where rNum between #{rowStart} and #{rowEnd}
		order by BBS_no desc
	</select>


	<!-- 본인 삭제 글 검색 결과 갯수 -->
	<select id="countSearchShowOne" resultType="int">
		select count(b.bbs_no)
		from bbs b, users u
		<where>
		 bbs_show=1
			<if test="searchType == 'title'">
				AND BBS_TITLE like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'content'">
				AND BBS_CONTENT like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'writer'">
				AND USER_NICK like '%' || #{keyword} || '%'
			</if>
			 and b.user_no=u.user_no
		</where>
	</select>


	<!-- 관리자 페이지 관리자 삭제 글 리스트 페이징 -->
	<select id="adminShowTwolist" resultType="BBS"
		parameterType="SearchCriteria">
		select BBS_no, user_no,
		BBS_title, BBS_content, BBS_date,
		BBS_show,user_nick
		from (
		select
		b.BBS_no,
		b.user_no,
		b.BBS_title,
		b.BBS_content,
		b.BBS_date,
		b.BBS_show,
		(row_number() over(order by BBS_no
		desc)) as rNum,
		u.user_nick
		from bbs b, users u
		<where>
		 b.user_no = u.user_no and BBS_show=2
			<if test="searchType == 'title'">
				AND BBS_TITLE like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'content'">
				AND BBS_CONTENT like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'writer'">
				AND u.USER_NICK like '%' || #{keyword} || '%'
			</if>
			
		</where>
		) b
		where rNum between #{rowStart} and #{rowEnd}
		order by BBS_no desc
	</select>


	<!-- 관리자 삭제 글 검색 결과 갯수 -->
	<select id="countSearchShowTwo" resultType="int">

		select count(b.bbs_no)
		from bbs b, users u
		<where>
		 bbs_show=2
			<if test="searchType == 'title'">
				AND BBS_TITLE like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'content'">
				AND BBS_CONTENT like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'writer'">
				AND USER_NICK like '%' || #{keyword} || '%'
			</if>
			 and b.user_no=u.user_no
		</where>
	</select>
	
	<!-- 글번호 bbs_no에 해당하는 답글 불러오기 -->
	<select id="listReBybbsNo" resultType="Reply">
		select * from reply
		where bbs_no=#{bbsNo}
		order by re_date asc
	</select>

	<!-- 답글 리스트 전체 불러오기 -->
	<select id="listRe" resultType="Reply">
		<!-- 닉네임 포함 답글 전체 목록 불러오기 -->
		select
		b.re_no,
		b.BBS_no,
		b.user_no,
		u.user_nick,
		b.re_title,
		b.re_content,
		b.re_date,
		b.re_show
		from reply b, users u
		where b.re_show = 0
		and
		u.user_no =
		b.user_no
		order by re_no asc
	</select>


	<!-- 답변 상세보기 -->
	
	<select id="replyView2" resultType="Reply" >
		select
		b.re_no,
		b.BBS_no,
		b.user_no,
		u.user_nick,
		b.re_title,
		b.re_content,
		b.re_date,
		b.re_show
		from reply b, users u
		where re_no= #{reNo}
		and bbs_no = #{bbsNo}
		and
		u.user_no = b.user_no
		order by re_no asc
	</select>

<!-- UPDATE 관련 쿼리문 -->

	<!-- 게시글 수정 -->
	
	<update id="updateBBS" parameterType="BBS">
		update BBS
		set
		BBS_title=#{updateItem.bbsTitle},
		BBS_content=#{updateItem.bbsContent}
		where BBS_no=#{bbsNo}
	</update>

	<!-- 본인 삭제 -->
	
	<update id="updateShowOneBybbsNo">
		update BBS
		set BBS_show=1
		where BBS_no=#{bbsNo}
	</update>

	<!-- 관리자 삭제 -->
	
	<update id="updateShowTwoBybbsNo">
		update BBS
		set BBS_show=2
		where BBS_no=#{bbsNo}
	</update>

	<!-- 관리자 삭제 게시글 복구 -->
	
	<update id="updateShowZeroBybbsNo">
		update BBS
		set BBS_show=0
		where BBS_no=#{bbsNo}
	</update>

	<!-- 답변 수정  -->
	
	<update id="updateRe2" parameterType="Reply">
		update Reply
		set
		re_content=#{replyItem.reContent}
		where BBS_no=#{bbsNo} 
		and re_no=#{reNo}
	</update>
	
	<!-- 	답변 삭제 -->
	<update id="updateReShow1" parameterType="Reply">
		update Reply
		set
		re_show=1
		where BBS_no=#{bbsNo} 
		and re_no=#{reNo}
	</update>

</mapper>
