<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="project3.yakdo.repository.mybatis.UsersMapper">
	<insert id="insert" parameterType="Users">
		INSERT INTO users (user_no, user_email, user_pw, user_nick, join_date
		                , user_grade, user_status, leave_date, block_reason)
		VALUES (user_noPK.NEXTVAL, #{userEmail}, #{userPw}, #{userNick}, #{joinDate}
		                , #{userStatus}, #{userGrade}, #{leaveDate}, #{blockReason})
	</insert>
	
<!-- 	<select id="selectByUserEmail" resultType="Users"> -->
<!-- 		SELECT user_no, user_email, user_pw, user_nick, join_date -->
<!-- 		                , user_grade, user_status, leave_date, block_reason -->
<!-- 		FROM users -->
<!-- 	</select> -->
	
	<select id="selectAll" resultType="Users">
		SELECT user_no, user_email, user_pw, user_nick, join_date
		                , user_grade, user_status, leave_date, block_reason
		FROM users
	</select>
	
	<delete id="deleteAll">
		DELETE FROM users
	</delete>
</mapper>