<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="project3.yakdo.repository.mybatis.UsersInfoMapper">
	<insert id="insert" parameterType="UsersInfo">
<!-- 	private Integer userNo; -->
<!-- 	private Integer familyNo; -->
<!-- 	private LocalDateTime birth; -->
<!-- 	private String gender; -->
<!-- 	private String usingDrugs; -->
<!-- 	private String allergy; -->
<!-- 	private String weight; -->
<!-- 	private String blockReason; -->
		INSERT INTO users_info (USER_NO, FAMILY_NO, BIRTH, GENDER, USING_DRUGS
                , ALLERGY, WEIGHT)
		VALUES (#{userNo}, #{familyNo}, #{birth}, #{gender}, #{usingDrugs}
                , #{allergy}, #{weight});
	</insert>
	
	<select id="selectByUserNo" resultType="UsersInfo">
		SELECT user_no, family_no, birth, gender, using_drugs
				, allergy, weight
		FROM users_info
		WHERE user_no = #{userNo}
	</select>
	
	<select id="selectAll" resultType="UsersInfo">
		SELECT user_no, family_no, birth, gender, using_drugs
				, allergy, weight
		FROM users
	</select>
	
	<delete id="deleteAll">
		DELETE FROM users_info
	</delete>
</mapper>