<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project3.yakdo.repository.mybatis.UsersMapper">
<!-- INSERT -->
	<insert id="insertUsers">
		INSERT INTO users VALUES (user_no_pk.NEXTVAL, #{userEmail}, #{userPw}, #{userNick}, sysdate, 2, 0, null, null)
	</insert>

	<insert id="insertUsersInfo">
		INSERT INTO users_info VALUES (${userNo}, #{familyNo}, #{birth}, #{gender}, #{weight}, #{familyNick})
	</insert>
	
	<insert id="insertUsingDrugs">
		INSERT INTO users_info_using_drugs VALUES (${userNo}, #{familyNo}, #{usingDrug})
	</insert>
	
	<insert id="insertAllergy">
		INSERT INTO users_info_allergy VALUES (${userNo}, #{familyNo}, #{allergy})
	</insert>
	
<!-- SELECT -->
	<select id="addFamilyNoByUserNo">
		SELECT NVL(MAX(family_no), 0) + 1 FROM users_info WHERE user_no = ${userNo}
	</select>
	
	<select id="selectByFamilyNo">
		SELECT family_no FROM users_info WHERE family_no = ${familyNo} AND user_no = ${userNo}
	</select>
	
	<select id="selectByUserEmail" parameterType="String" resultType="Users">
		SELECT user_no, user_email, user_pw, user_nick, join_date
			, user_grade, user_status, leave_date, block_reason
		FROM users
		WHERE
		user_email = #{userEmail} AND USER_STATUS = 0
	</select>

	<select id="selectAllUsers" resultType="Users">
		SELECT user_no,
		user_email, user_pw, user_nick, join_date
		, user_grade, user_status,
		leave_date, block_reason
		FROM users
	</select>

<!-- DELETE -->
	<delete id="deleteAllUsers">
		DELETE FROM users
	</delete>


	<!-- 관리자 페이지 회원관리 관련 / 작성자: 배고운 -->



	<!-- Users테이블에서 user_no로 회원 찾기 / 작성자 : 배고운 -->

	<select id="selectByUserNoInUsersT" resultType="Users">
		select * from
		users where user_no = #{userNo}
	</select>



	<!-- 회원등급수정 / 작성자 : 배고운 -->

	<update id="updateUserGrade" parameterType="Users">
		update users
		set
		user_grade = #{updateUser.userGrade},
		user_status = #{updateUser.userStatus},
		block_reason = #{updateUser.blockReason}
		where user_no = #{userNo}
	</update>


	<!-- 회원블락처리 / 작성자 : 배고운 -->
	<update id="updateUserStatus" parameterType="Users">
		update users
		set
		user_status = {updateUser.userStatus}
		block_reason = {updateUser.blockReason}
		where user_no = #{userNo}
	</update>
</mapper>