<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/home_component.css">
<link rel="stylesheet" type="text/css" href="/css/BBS.css">
</head>
<body>

	<div th:replace="home_component.html :: header"></div>

	<p id="BBS">이용문의</p>


	<div class="BBSViewTable">
		<div class="ReturnList">
			<button id="headerSearchBtn" type="button"
				th:onclick="|location.href='@{/BBS/listSearch}'|">목록</button>
		</div>
		<form action="" method="post" th:object="${BBS}">
			<div>
				<br> <label><input class="InputNick" type="text"
					name="userNick" readonly="readonly" th:field="*{userNick}"></label>
				<br> <label><input class="InputBBSTitle" type="text"
					name="bbsTitle" th:field="*{bbsTitle}"></label> <br> <label><textarea
						class="InputBBSContent" name="bbsContent" th:field="*{bbsContent}"></textarea></label>
			</div>
			<div>
				<div id="writeBtn">
					<button id="headerSearchBtn" type="submit">수정하기</button>
				</div>
			</div>

		</form>
	</div>
	</div>
	<div th:replace="home_component.html :: footer"></div>
</body>
</html>