<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<script type="text/javascript">
		function deleteCom(bbsNo, comNo) {
			location.href = "/BBS/deleteCom/" + bbsNo + "/" + comNo;
		}
		
		function updateCom(bbsNo,comNo){
			location.href = "/BBS/updateCom/" + bbsNo + "/" + comNo;	
		}
		
		function deleteComAdmin(bbsNo,comNo){
			location.href = "/BBS/deleteComAdmin/" + bbsNo + "/" + comNo;
		}
	</script>

	<h1>BBS view Page</h1>
	게시글 클릭하면 보여주는 화면
	<div>
		<br />
		<table border="1" width="800" height="100">
			<thead>
				<tr>
					<th>글보기</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>작성일</td>
					<td th:text="${BBS.bbsDate}"></td>
				</tr>
				<tr>
					<td>작성자</td>
					<td th:text="${BBS.userNick}"></td>
				</tr>
				<tr>
					<td>제목</td>
					<td th:text="${BBS.bbsTitle}"></td>
				</tr>
				<tr>
					<td>내용</td>
					<td th:text="${BBS.bbsContent}"></td>
				</tr>

			</tbody>
		</table>

	</div>

	<div>
		
		<button th:onclick="|location.href='@{/BBS/BBSlist}'|">목록</button>

<!-- 		로그인한 사용자 닉네임과 일치 할 때만 수정/삭제버튼 보이기 , 관리자(grade:1) 이거나 운영자(grade:0)에 보이기-->
		<div th:if="${user.userNick}==${BBS.userNick} ">
			<button
				th:onclick="|location.href='@{/BBS/update/{bbsNo}(bbsNo=${BBS.bbsNo})}'|">수정하기</button>
			<button
				th:onclick="|location.href='@{/BBS/delete/{bbsNo}(bbsNo=${BBS.bbsNo})}'|">삭제</button>
		</div>

<!-- 		회원등급이 관리자(user_grade = 1)이상 일때만 관리자 삭제,답변 버튼 보이기  -->
		<div th:if="${user.userGrade==1 } or ${user.userGrade}==0">	
		<button
			th:onclick="|location.href='@{/BBS/adminDelete/{bbsNo}(bbsNo=${BBS.bbsNo})}'|">관리자삭제</button>
		<button th:onclick="|location.href='@{/admin/writeAnswer/{bbsNo}(bbsNo=${BBS.bbsNo})}'|">답변등록</button>
		</div>
	</div>

	<!-- 	댓글 -->
	<form th:action="@{/BBS/BBSlist/{bbsNo}(bbsNo=${BBS.bbsNo})}"
		method="post" th:object=${BBSComment}>
		<p>
			
			<label>댓글작성자<input type="text" name="userNick" th:value="${user.userNick}" readonly></label>
			<!-- 				로그인한 사람의 닉네임 불러오기 -->
		</p>
		<p>
			<!-- 				<textarea name="comContent" th:field="*{comContent}" rows="5" cols="50"></textarea> -->
			<label>댓글입력: <input type="text" name="comContent" th:field="*{comContent}"></label>
			<input type="hidden" name="userNo" th:value="${user.userNo}">
		</p>
		<p>
			<button type="submit">댓글 작성</button>  
		</p>
	</form>

	<table border="1" width="800" height="100">
		<thead>
			<tr>
				<th>작성자</th>
				<th>내용</th>
				<th>작성일</th>
				<div th:if="${user.userNick}==${BBS.userNick} ">
				<th>삭제</th>
				<th>수정</th>
				</div>
				<div th:if="${user.userGrade}==1 or  ${user.userGrade}==0">
				<th>관리자삭제</th>
				</div>
			</tr>

		</thead>
		<tbody>
			<tr th:each="BBSComment : ${commentListZero}">
				<td th:text="${BBSComment.userNick}"></td>
				<td th:text="${BBSComment.comContent}"></td>
				<td th:text="${BBSComment.comDate}"></td>
				
				<div th:if="${user.userNick}==${BBSComment.userNick}">
				<td>
					<button th:name="${BBSComment.bbsNo}" th:src="${BBSComment.comNo}"
						th:onclick="deleteCom(this.getAttribute('name'),this.getAttribute('src'))">삭제</button>
					<!--  <button
						th:onclick="|location.href='@{/BBS/deleteCom/{comSeq}(comSeq=${BBSComment.comSeq})}'|">삭제</button>-->
				</td>
				<td>
					<button th:name="${BBSComment.bbsNo}" th:src="${BBSComment.comNo}"
					th:onclick="updateCom(this.getAttribute('name'),this.getAttribute('src'))">
					수정</button>
				</td>
				</div>
				
				<div th:if="${user.userGrade}==1 or  ${user.userGrade}==0">
					<td>
						<button th:name="${BBSComment.bbsNo}" th:src="${BBSComment.comNo}" 
						th:onclick="deleteComAdmin(this.getAttribute('name'),this.getAttribute('src'))" >
						관리자삭제</button>
					</td>
				</div>
				
				
			</tr>
		</tbody>
	</table>




	</div>

	</div>


</body>
</html>