<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/home_component.css">
<link rel="stylesheet" type="text/css" href="/css/BBS.css">
<title>Insert title here</title>
<style>
.errormsg {
	color: red;
}



</style>
</head>
<body>
	<div th:replace="home_component.html :: header"></div>
<script type="text/javascript">

	function writeOk() 
	{

		if (confirm('등록하시겠습니까?')) {

			if (document.getElementById("bbsTitle").value == "") {
				alert("제목을 입력하세요.");
			}

			if (document.getElementById("bbsContent").value == "") {
				alert("내용을 입력하세요.");
			}
			
			document.getElementById("writeBBSForm").submit();
		} else {
			alert("등록이 취소되었습니다.");
		}
		return false;
	}
	
</script>
<script type="text/javascript">
		function moveTop(){
			window.scrollTo({top:0, behavior:"smooth"})
		}
	</script>
	<div class="moveTopBtn" onclick="moveTop()">▲</div>

<p id="BBS">이용문의</p>


	<div class="WriteBBSBox">
	<div class="ReturnList">
	<button id="headerSearchBtn" th:onclick="|location.href='@{/BBS/listSearch}'|">목록</button>
	</div>
		<form action="" method="post" th:object="${BBS}">

			<div>
				<label> <input  type="hidden" name="userNo"
					th:value="${user.userNo}"> <input class="InputNick" type="text"
					name="userNick" th:value="${user.userNick}" readonly>
				</label>
			</div>
			<div>
				<label><input class="InputBBSTitle" type="text" name="bbsTitle" 
					th:field="*{bbsTitle}" placeholder="제목을 입력해주세요"></label>
			</div>
			<div>
				<label><textarea name="bbsContent" class="InputBBSContent"
						th:field="*{bbsContent}" placeholder="내용을 입력해주세요"></textarea></label>
			</div>
			<div id="writeBtn">
				<button id="headerSearchBtn" type="button" onclick="writeOk()">등록하기</button>
			</div>
		</form>
		
		</div>


	<div th:replace="home_component.html :: footer"></div>
</body>
</html>