<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/var.css">
	<link rel="stylesheet" type="text/css" href="/css/home_component.css">
	<link rel="stylesheet" type="text/css" href="/css/BBS.css">
</head>

<body>
	<div th:replace="home_component.html :: header"></div>
	<div id="BBSlist">
	<p id="BBS">이용문의</p>
	<div id="writeBtn">
	<!-- 	<div th:if="${user}!=null"> -->
			<button id="headerSearchBtn" th:onclick="|location.href='@{/BBS/BBSwrite}'|">글쓰기</button>
	<!-- 	</div> -->
</div>
	<div class="col-md-12">
	<table class="table table-hover"  >
		<colgroup>
					<col width="50">
					<col width="300">
					<col width="200">
					<col width="100">
				</colgroup>
		<thead>
			<tr>
							<th>No</th>
							<th>Title</th>
							<th>Date</th>
							<th>Name</th>
						</tr>
		</thead>
		<tbody>
			<tr th:each="BBS : ${list}">
				<td th:text=${BBS.bbsNo}></td>
				<td><a th:href="@{|/BBS/BBSlist/${BBS.bbsNo}|}"
					th:text=${BBS.bbsTitle}></a></td>
				<td th:text=${BBS.bbsDate}></td>
				<td th:text="${BBS.userNick}"></td>
			</tr>
		</tbody>

	</table>
</div>
	<div id="pageNumber" th:with="start=${pageMaker.startPage}, end=${pageMaker.endPage}">
		<ul>
			<div>
				<li><a
					th:href="@{|/BBS/listPage?page=${pageMaker.startPage - 1}&perPageNum=10|}">이전</a></li>
			</div>


			<!--			3페이지 까지 필요할때는 쩜 3개 찍힘 page 숫자 표시만 되면 되는데 -->
			<div th:each="num : ${#numbers.sequence(start,end)}">
				<li><code th:if="${pageMaker.cri.getPage() == num}"
						th:text="${num}"></code> <a
					th:unless="${pageMaker.cri.getPage()==num}"
					th:href="@{|/BBS/listPage?page=${num}&perPageNum=10|}"> <code
							th:text="${num}"></code></a></li>
			</div>

			<div>
				<!--			<div th:if="${pageMaker.next} and ${pageMaker.endPage} > 0">-->
				<li>
					<!-- 				<a th:href="@{|/BBS/listPage?page=${pageMaker.endPage + 1}&perPageNum=10|}">끝</a> -->
					<a
					th:href="@{|/BBS/listPage?page=${pageMaker.endPage+1}&perPageNum=10|}">다음</a>
				</li>
			</div>
		</ul>
	</div>
<br/>
<br/>

	
		
	


<!-- 검색 -->
	<div id="searchBBS">
		<form>
			<select>
				<option>제목</option>
				<option>내용</option>
			</select> <input type="text">
	
			<button id="headerSearchBtn">검색</button>
		

		</form>
		
	</div>
</div>
	<div th:replace="home_component.html :: footer"></div>
</body>

</html>