<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/home_component.css">
<link rel="stylesheet" type="text/css" href="/css/BBS.css">
<title>약도 - 이용문의</title>
<style>
/* 일단 테이블 태그로 했다가 나중에 class 이름 만들어서 css파일로 옮기기  */
table {
	width: 100%;
	border: 1px solid #d3d3d3;
	border-collapse: collapse;
}

th, td {
	border: 1px solid rgb(192, 192, 192);
	padding: 10px;
}
</style>
</head>
<body>
	<script type="text/javascript">
		function updateReOk(bbsNo,reNo) {
			if (confirm('수정하시겠습니까?')) {
				location.href = "/BBS/updateRe2/" + bbsNo +"/" + reNo;
			} else {
				alert("등록이 취소되었습니다.");
			}
			return false;
		}

		function deleteReOk(bbsNo,reNo) {
			if (confirm('삭제하시겠습니까?')) {
				location.href = "/BBS/deleteRe/" + bbsNo +"/" + reNo;
			} else {
				alert("삭제가 취소되었습니다.");
			}
			return false;
		}

		
	</script>
	<script type="text/javascript">
		function moveTop() {
			window.scrollTo({
				top : 0,
				behavior : "smooth"
			})
		}
	</script>
	<div class="moveTopBtn" onclick="moveTop()">▲</div>
	<div th:replace="home_component.html :: header"></div>
	<p id="BBS">이용문의</p>

	<div class="BBSViewTable">
		<br />
		<div class="ReturnList">
			<button id="headerSearchBtn"
				th:onclick="|location.href='@{/BBS/listSearch}'|">목록</button>
		</div>
		<table>
			<colgroup>
				<col width="15%" />
				<col width="35%" />
				<col width="15%" />
				<col width="35%" />
			</colgroup>


			<tbody>
				<tr>
					<th scope="row">글 번호</th>
					<td th:text="${Reply.reNo}"></td>
					<th scope="row">작성일</th>
					<td th:text="${Reply.reDate}"></td>
				</tr>
				<tr>
					<th scope="row">작성자</th>
					<td td colspan="3" th:text="${Reply.userNick}"></td>
				</tr>
				<tr>
					<th scope="row">제목</th>
					<td colspan="3" th:text="${Reply.reTitle}"></td>
				</tr>
				<tr>
					<td td colspan="4"><textarea class="ViewContent" title="내용"
							th:text="${Reply.reContent}" readonly="readonly"></textarea></td>
				</tr>
			</tbody>
		</table>
		<div>
			<div id="writeBtn">
				<div th:if="${user.userGrade==1 } or ${user.userGrade}==0">
					<button id="headerSearchBtn" th:name="${Reply.bbsNo}" th:src="${Reply.reNo}"
						th:onclick="updateReOk(this.getAttribute('name'),this.getAttribute('src'))">수정하기</button>
					<button id="headerSearchBtn" th:name="${Reply.bbsNo}" th:src="${Reply.reNo}"
						th:onclick="deleteReOk(this.getAttribute('name'),this.getAttribute('src'))">
						관리삭제</button>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="home_component.html :: footer"></div>
</body>
</html>