<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/home_component.css">
<link rel="stylesheet" type="text/css" href="/css/BBS.css">
<title>Insert title here</title>
<style>
/* 일단 테이블 태그로 했다가 나중에 class 이름 만들어서 css파일로 옮기기  */
table {
	width: 100%;
	border: 1px solid #d3d3d3;
	border-collapse: collapse;
}

th, td {
	border: 1px solid rgb(192, 192, 192);
	padding: 10px;
}
</style>
</head>
<body>
	<script type="text/javascript">
		function deleteCom(bbsNo, comNo) {
			if (confirm('삭제하시겠습니까?')) {
				location.href = "/BBS/deleteCom/" + bbsNo + "/" + comNo;
			} else {
				alert("삭제가 취소되었습니다.")
			}
		}

		function updateCom(bbsNo, comNo) {
			if (confirm('수정하시겠습니까?')) {
				location.href = "/BBS/updateCom/" + bbsNo + "/" + comNo;
			} else {
				alert("수정이 취소되었습니다.")
			}
		}

		function deleteComAdmin(bbsNo, comNo) {
			if (confirm('삭제하시겠습니까?')) {
			location.href = "/BBS/deleteComAdmin/" + bbsNo + "/" + comNo;
			}else{
				alert("삭제가 취소되었습니다.")
			}
		}

		function writeComOk() {
			if (confirm('등록하시겠습니까?')) {
				document.getElementById("writeCom").submit();
			} else {
				alert("등록이 취소되었습니다.");
			}
			return false;
		}

		function updateBBSOk(bbsNo) {
			if (confirm('수정하시겠습니까?')) {
				location.href = "/BBS/update/" + bbsNo;
			} else {
				alert("등록이 취소되었습니다.");
			}
			return false;
		}

		function deleteBBSOk(bbsNo) {
			if (confirm('삭제하시겠습니까?')) {
				location.href = "/BBS/delete/" + bbsNo;
			} else {
				alert("삭제가 취소되었습니다.");
			}
			return false;
		}
		
		function deleteBBSAdmin(bbsNo){
			if (confirm('삭제하시겠습니까?')) {
				location.href = "/BBS/adminDelete/" + bbsNo;
			} else {
				alert("삭제가 취소되었습니다.");
			}
			return false;
		}
	</script>
	<div th:replace="home_component.html :: header"></div>
<p id="BBS">이용문의</p>
	
	<div class="BBSViewTable">
		<br/>
		<div class="ReturnList">
				<button  id="headerSearchBtn" th:onclick="|location.href='@{/BBS/listSearch}'|">목록</button>
		</div>
		<table >
		<colgroup>
					<col width="15%"/>
					<col width="35%"/>
					<col width="15%"/>
					<col width="35%"/>
				</colgroup>
			

			<tbody>
				<tr>
					<th scope="row">글 번호</th>
					<td th:text="${Reply.reNo}"></td>
					<th scope="row">작성일</th>
					<td th:text="${Reply.reDate}"></td>
				</tr>
				<tr>
					<th scope="row">작성자</th>
					<td td colspan="3" th:text="${Reply.userNick}"></td>
				</tr>
				<tr>
					<th scope="row">제목</th>
					<td colspan="3" th:text="${Reply.reTitle}"></td>
				</tr>
				<tr>
					<td td colspan="4"> 
					<textarea class="ViewContent" title="내용" th:text="${Reply.reContent}" readonly="readonly"></textarea>
					</td>
				</tr>
			</tbody>
		</table>

	


	<div>



		<!-- 		로그인한 사용자 닉네임과 일치 할 때만 수정/삭제버튼 보이기 , 관리자(grade:1) 이거나 운영자(grade:0)에 보이기-->


		<div th:if="${user.userNick}==${Reply.userNick} ">
			<button  id="headerSearchBtn" th:name="${Reply.bbsNo}"
				th:onclick="updateBBSOk(this.getAttribute('name'))">수정하기</button>
			<button  id="headerSearchBtn" th:name="${Reply.bbsNo}"
				th:onclick="deleteBBSOk(this.getAttribute('name'))">삭제</button>
		</div>


		<!-- 		회원등급이 관리자(user_grade = 1)이상 일때만 관리자 삭제,답변 버튼 보이기  -->


		<div th:if="${user.userGrade==1 } or ${user.userGrade}==0">
			<button  id="headerSearchBtn" th:name="${Reply.bbsNo}"
				th:onclick="deleteBBSAdmin(this.getAttribute('name'))">
				관리자삭제</button>
			
		</div>
	</div>


</div>

	</div>

	</div>

	<div th:replace="home_component.html :: footer"></div>
</body>
</html>