<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/home_component.css">
<link rel="stylesheet" type="text/css" href="/css/BBS.css">
<title>약도 - 이용문의</title>
</head>
<body>
<script type="text/javascript">
function updateComOk(bbsNo,comNo) {
	if (confirm('수정하시겠습니까?')) {
		

		if (document.getElementById("comContent").value == "") {
			alert("내용을 입력하세요.");
			return;
		}
		
		location.href = "/BBS/updateCom/" + bbsNo + "/" + comNo ;
	} else {
		alert("수정이 취소되었습니다.")
	}
}

function back(bbsNo){
	location.href = "/BBS/BBSlist/" + bbsNo ;
}
</script>
	<div th:replace="home_component.html :: header"></div>
	<div class="BBSlist">
<div class="BBSheadTitle">이용 문의</div>
	
	<div class="WriteBBSBox">
	<div class="ReturnList">
	 <button id="headerSearchBtn"  th:name="${bbsComment.bbsNo}" th:onclick="back(this.getAttribute('name'))">뒤로가기</button>
	</div>
	<form action="" method="post" th:object="${bbsComment}">
		<div>
<!-- 			<label>작성일<input type="date" name="comDate" readonly="readonly" th:field="*{comDate}"></label> -->
			<br>
			<label>작성자<input class="InputNick" type="text" name="userNick" readonly="readonly" th:value="${user.userNick}"></label>
			
			<br>
			<label>댓글 수정<textarea id="comContent" class="InputBBSContent" name="comContent" th:field="*{comContent}" ></textarea></label>
		</div>
		<div id="writeBtn">
		 <button id="headerSearchBtn"  th:name="${bbsComment.bbsNo}"
									th:src="${bbsComment.comNo}"
									th:onclick="updateComOk(this.getAttribute('name'),this.getAttribute('src'))" type="button">수정완료</button>
		
		 </div>
		
	</form>
	</div>
	</div>
	<div th:replace="home_component.html :: footer"></div>
</body>
</html>