<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/home_component.css">
<link rel="stylesheet" type="text/css" href="/css/BBS.css">
<title>약도 - 이용문의</title>
</head>
<body>
<script type="text/javascript">
function updateReOk(bbsNo,reNo) {
	if (confirm('수정하시겠습니까?')) {
		
		if (document.getElementById("reContent").value == "") {
			alert("내용을 입력하세요.");
		}
		
		location.href = "/BBS/updateRe2/" + bbsNo + "/" + reNo ;
	} else {
		alert("수정이 취소되었습니다.")
	}
}
</script>
	<div th:replace="home_component.html :: header"></div>
<p id="BBS">이용문의</p>
	
	<div class="WriteBBSBox">
	<div class="ReturnList">
	 <button id="headerSearchBtn" type="button" th:onclick="|location.href='@{/BBS/BBSlist/{bbsNo}}'|">뒤로가기</button>
	</div>
	<form action="" method="post" th:object="${Reply}">
		<div>

			<br>
			<label>작성자<input class="InputNick" type="text" name="userNick" readonly="readonly" th:value="${user.userNick}"></label>
			
			<br>
			<label><textarea class="InputBBSContent" name="reContent" th:field="*{reContent}"></textarea></label>
		</div>
		<div id="writeBtn">

 <button id="headerSearchBtn" th:name="${Reply.bbsNo}"
									th:src="${Reply.reNo}"
									th:onclick="updateReOk(this.getAttribute('name'),this.getAttribute('src'))">수정완료</button>
		
		 </div>
		
	</form>
	</div>
	<div th:replace="home_component.html :: footer"></div>
</body>
</html>