<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/user.css">
<title>약도 - 비밀번호 찾기</title>
</head>
<body>
	<div class="ContentBox center">
		<div class="mainTitleBox">
			<div class="d_CSS">
				<span class="mainTitle1" onclick="location.href='/'">약도</span>
				<span class="mainTitle2" onclick="location.href='/'">藥道</span>
			</div>
		</div>
		<div class="d-CSS loginForm">
			<form action="" method="post" th:object="${loginForm}">
				<div class="loginEmailBox">
					<input type="email" id="loginEmail" placeholder="이메일" />
				</div>
				<div class="loginEmailBox">
					<input type="text" id="loginEmail" placeholder="이메일" />
				</div>
				<div class="loginPwBox">
					<input type="password" id="loginPw" placeholder="비밀번호" />
				</div>
				<div class="loginPwBox">
					<input type="password" id="loginPw" placeholder="비밀번호" />
				</div>
				
				<button id="loginBtn" type="submit">수정하기</button>
				<button id="goHomeBtn" type="button" onclick="location.href='/'">메인화면으로</button>
			</form>
		</div>
	</div>
</body>
</html>