<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!-- user_noPK.NEXTVAL, #{userEmail}, #{userPw}, #{userNick}, #{joinDate} -->
<!-- , #{userStatus}, #{userGrade}, #{leaveDate}, #{blockReason} -->
	<div>
		<h1>user Login Page</h1>
		
		<form action="" method="post" th:object="${loginForm}">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="error : ${#fields.globalErrors()}" th:text="${error}"></p>
			</div>
			
			<label for="loginEmail">이메일 </label>
			<input type="email" id="loginEmail" th:field="*{loginEmail}" />
			<div th:errors="*{loginEmail}"></div>
			<label for="loginPw">비밀번호 </label>
			<input type="password" id="loginPw" th:field="*{loginPw}" />
			<div th:errors="*{loginPw}"></div>
			
			<button type="submit">로그인</button>
		</form>
		<div>
			<button type="button" th:onClick="|location.href='@{/test/userList}'|">Test</button>
		</div>
	</div>
</body>
</html>