<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/user.css">
<title>약도 - 로그인</title>
</head>
<body>
	<script type="text/javascript">
		function goFindPw(){
			location.href="/"
		}
		
		function goSignUp(){
			location.href="/signUp"
		}
	</script>
	<div class="ContentBox center">
		<div class="mainTitleBox">
			<div class="d_CSS">
				<span class="mainTitle1" onclick="location.href='/'">약도</span>
				<span class="mainTitle2" onclick="location.href='/'">藥道</span>
			</div>
		</div>
		<div class="d-CSS loginForm">
			<form action="" method="post" th:object="${loginForm}">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="error : ${#fields.globalErrors()}" th:text="${error}"></p>
				</div>
				<div class="loginEmailBox">
					<input type="email" id="loginEmail" th:field="*{loginEmail}" placeholder="이메일" />
					<div th:errors="*{loginEmail}"></div>
				</div>
				<div class="loginPwBox">
					<input type="password" id="loginPw" th:field="*{loginPw}" placeholder="비밀번호" />
					<div th:errors="*{loginPw}"></div>
				</div>
				
				<button id="loginBtn" type="submit">로그인</button>
				<button id="goHomeBtn" type="button" onclick="location.href='/'">메인화면으로</button>
			</form>
			<div class="loginNav">
				<span class="loginNavItem" onclick="location.href='/help/confirmEmail'">비밀번호 찾기</span>
				<span class="loginNavItem" onclick="location.href='/signUp'">회원가입</span>
			</div>
		</div>
	</div>
</body>
</html>