<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/home_component.css">
<link rel="stylesheet" type="text/css" href="/css/drugs.css">
<title>약도-의약품 검색</title>
</head>
<body>
	<script type="text/javascript">
		function closeFindMore(){
			document.querySelector('#findMore').style.display='none'
		}
		function openFindMore(){
			document.querySelector('#findMore').style.display='inline-block'	
		}
		function closeDrugMarkModal(){
			var modalList = document.querySelectorAll('.findMarkModal');
			for(var modal of modalList){
				modal.style.display='none';
			}			
		}
		
		function openDrugMarkModal(){
			closeDrugMarkModal();
			document.querySelector('#modalPage1').style.display='inline-block'			
		}
		
		function selectMarkPage(page){
			closeDrugMarkModal();
			var pageId = '#modal'+page;
			document.querySelector(pageId).style.display='inline-block'
		}
		
		function selectDrugMark(src,code){
			closeDrugMarkModal();
			document.querySelector('.selectDrugMark').src=src;
			document.querySelector('.selectDrugMarkInput').value=code;
		}
		function moveTop(){
			window.scrollTo({top:0, behavior:"smooth"})
		}
	</script>
	<div class="moveTopBtn" onclick="moveTop()">▲</div>
	<div th:replace="home_component.html :: header"></div>
	<div class="d-CSS ContentBox" style="border:1px solid var(--Signature=blue)">
		<div id="findMore" th:style="${findMoreStyle}">
			<div class="d-CSS headTitle">약품 정보 입력</div>
			<div class="d-CSS findWarn center">
				◈ 각 항목에 검색어를 입력한 후 검색 버튼을 클릭하시면 해당 조건에 맞는 내용이 검색됩니다.<br>
				◈ 띄어쓰기를 이용하여 여러 항목을 동시에 입력하여 검색하실 수 있습니다.
			</div>
			<div style="width:700px;display:block;margin:0px auto;">
				<form action="" method="post" th:object="${findDrugForm}">
					<div class="d-CSS findGrid">
						<div class="findGridLabel">
							<div class="innerGrid">
								<label for="itemNameInput">제품명</label>
							</div>
						</div>
						<div class="findGridContent">
							<input class="innerGrid" id="itemNameInput" type="text" name="itemName" th:field="*{itemName}" placeholder="제품명"/>
						</div>
						
						<div class="findGridLabel">
							<div class="innerGrid">
								<label for="ingrNameInput">성분명</label>
							</div>
						</div>
						<div class="findGridContent">
							<input class="innerGrid" id="ingrNameInput" type="text" name="ingrName" th:field="*{ingrName}" placeholder="성분명"/>
						</div>
						
						<div class="findGridLabel">
							<div class="innerGrid">
								<label for="entpNameInput">회사명</label>
							</div>
						</div>
						<div class="findGridContent">
							<input class="innerGrid" id="entpNameInput" type="text" name="entpName" th:field="*{entpName}" placeholder="회사명"/>
						</div>
						
						<div class="findGridLabel">
							<div class="innerGrid">
								<label for="drugPringInput">글자</label>
							</div>
						</div>
						<div class="findGridContent">
							<input class="innerGrid" id="drugPringInput" type="text" name="drugPrint" th:field="*{drugPrint}" placeholder="약품에 적힌 글자"/>
						</div>
						
						<div class="findGridLabel">
							<div class="innerGrid">
								<label for="drugShapeSelect">제형</label>
							</div>
						</div>
						<div class="findGridContent">
							<select class="innerGrid" id="drugShapeSelect" name="drugShape">
								<option value="">제형선택</option>
								<option value="원형" th:selected="${findDrugForm.getDrugShape()}=='원형'">원형</option>
								<option value="타원형" th:selected="${findDrugForm.getDrugShape()}=='타원형'">타원형</option>
								<option value="반원형" th:selected="${findDrugForm.getDrugShape()}=='반원형'">반원형</option>
								<option value="삼각형" th:selected="${findDrugForm.getDrugShape()}=='삼각형'">삼각형</option>
								<option value="장방형" th:selected="${findDrugForm.getDrugShape()}=='장방형'">장방형</option>
								<option value="마름모형" th:selected="${findDrugForm.getDrugShape()}=='마름모형'">마름모형</option>
								<option value="오각형" th:selected="${findDrugForm.getDrugShape()}=='오각형'">오각형</option>
								<option value="육각형" th:selected="${findDrugForm.getDrugShape()}=='육각형'">육각형</option>
								<option value="팔각형" th:selected="${findDrugForm.getDrugShape()}=='팔각형'">팔각형</option>
								<option value="기타" th:selected="${findDrugForm.getDrugShape()}=='기타'">기타</option>
							</select>
						</div>
						
						<div class="findGridLabel">
							<div class="innerGrid">
								<label for="drugColorSelect">색상</label>
							</div>
						</div>
						<div class="findGridContent">
							<select class="innerGrid" id="drugColorSelect" name="drugColor">
								<option value="">색상선택</option>
								<option value="투명" style="background-color:none" th:selected="${findDrugForm.getDrugColor()}=='투명'">(투명)</option>
								<option value="하양" style="background-color:#ffffff" th:selected="${findDrugForm.getDrugColor()}=='하양'">하양</option>
								<option value="검정" style="background-color:#000000" th:selected="${findDrugForm.getDrugColor()}=='검정'">검정</option>
								<option value="회색" style="background-color:#808080" th:selected="${findDrugForm.getDrugColor()}=='회색'">회색</option>
								<option value="빨강" style="background-color:#ff0000" th:selected="${findDrugForm.getDrugColor()}=='빨강'">빨강</option>
								<option value="분홍" style="background-color:#ffc0cb" th:selected="${findDrugForm.getDrugColor()}=='분홍'">분홍</option>
								<option value="주황" style="background-color:#ff7f00" th:selected="${findDrugForm.getDrugColor()}=='주황'">주황</option>
								<option value="갈색" style="background-color:#964b00" th:selected="${findDrugForm.getDrugColor()}=='갈색'">갈색</option>
								<option value="노랑" style="background-color:#ffd400" th:selected="${findDrugForm.getDrugColor()}=='노랑'">노랑</option>
								<option value="연두" style="background-color:#81c147" th:selected="${findDrugForm.getDrugColor()}=='연두'">연두</option>
								<option value="초록" style="background-color:#008000" th:selected="${findDrugForm.getDrugColor()}=='초록'">초록</option>
								<option value="청록" style="background-color:#005666" th:selected="${findDrugForm.getDrugColor()}=='청록'">청록</option>
								<option value="파랑" style="background-color:#0067a3" th:selected="${findDrugForm.getDrugColor()}=='파랑'">파랑</option>
								<option value="남색" style="background-color:#000080" th:selected="${findDrugForm.getDrugColor()}=='남색'">남색</option>
								<option value="보라" style="background-color:#8b00ff" th:selected="${findDrugForm.getDrugColor()}=='보라'">보라</option>
								<option value="자주" style="background-color:#660099" th:selected="${findDrugForm.getDrugColor()}=='자주'">자주</option>
							</select>
						</div>
						
						<div class="findGridLabel">
							<div class="innerGrid">
								<label for="drugLineSelect">분할선</label>
							</div>
						</div>
						<div class="findGridContent">
							<select class="innerGrid" id="drugLineSelect" name="drugLineFront">
								<option value="">분할선(1)</option>
								<option value="null" th:selected="${findDrugForm.getDrugLineFront()}=='null'">없음</option>
								<option value="-" th:selected="${findDrugForm.getDrugLineFront()}=='-'">일자(-)</option>
								<option value="+" th:selected="${findDrugForm.getDrugLineFront()}=='+'">십자(+)</option>
								<option value="기타" th:selected="${findDrugForm.getDrugLineFront()}=='기타'">기타</option>
							</select>
							<select class="innerGrid" id="drugLineSelect" name="drugLineBack">
								<option value="">분할선(2)</option>
								<option value="null" th:selected="${findDrugForm.getDrugLineBack()}=='null'">없음</option>
								<option value="-" th:selected="${findDrugForm.getDrugLineBack()}=='-'">일자(-)</option>
								<option value="+" th:selected="${findDrugForm.getDrugLineBack()}=='+'">십자(+)</option>
								<option value="기타" th:selected="${findDrugForm.getDrugLineBack()}=='기타'">기타</option>
							</select>
						</div>
						
						<div class="findGridLabel">
							<div class="innerGrid">
								<label for="">마크</label>
							</div>
						</div>
						<div class="findGridContent">
							<span class="innerGrid" th:unless="${findDrugForm.getDrugMark()}==null">
								<span th:each="innerDrugMarkList : ${drugMarkList}">
									<span th:each="drugMark : ${innerDrugMarkList}">
										<image class="selectDrugMark" th:if="${drugMark.getMarkCode()}==${findDrugForm.getDrugMark()}" th:src="${drugMark.getMarkImg()}" width="50" height="50" style="margin: 2px; display: inline-block;"/>
										<button class="findSearchMoreBtn" th:if="${drugMark.getMarkCode()}==${findDrugForm.getDrugMark()}" type="button" onclick="openDrugMarkModal()" style="display: inline-block; position: relative; top: -20px;">마크 선택</button>
									</span>
								</span>
							</span>
							<span class="innerGrid" th:if="${findDrugForm.getDrugMark()}==null or ${findDrugForm.getDrugMark()}==''">
								<image class="selectDrugMark" src="" width="50" height="50" style="margin: 2px; display: inline-block;"/>
								<button class="findSearchMoreBtn" type="button" onclick="openDrugMarkModal()" style="display: inline-block; position: relative; top: -20px;">마크 선택</button>
							</span>
							<input class="selectDrugMarkInput" type="hidden" name="drugMark" th:value="${findDrugForm.getDrugMark()}==null?'':${findDrugForm.getDrugMark()}"/>
						</div>
						
						
						<div th:id="${'modalPage'+innerDrugMarkListStat.count}" class="findMarkModal" th:each="innerDrugMarkList,innerDrugMarkListStat : ${drugMarkList}">
							<div  style="text-align: center;">
								<div class="headTitle">약품 마크 찾기</div>
							</div>
							<div th:each="drugMark : ${innerDrugMarkList}" style="display:inline-block">
								<div th:if="${drugMark.getMarkImg()}!=null" >
									<image class="findMarkModalImage" th:src="${drugMark.getMarkImg()}" th:name="${drugMark.getMarkCode()}" th:onclick="selectDrugMark(this.getAttribute('src'),this.getAttribute('name'))"/>
								</div>
							</div>
							<div style="text-align: center;">
								<span th:id="'Page'+${page}" style="margin:10px 5px; cursor:pointer;" th:each="page:${drugMarkPage}" type="button" th:text="${page}" th:onclick="selectMarkPage(this.getAttribute('id'))"></span>
							</div>
							<div style="text-align: right;">
								<div style="margin:10px 5px; cursor:pointer;" onclick="closeDrugMarkModal()">닫기</div>
							</div>
						</div>						
					</div>
					<div th:if="${error}!=null" th:text="${error}" style="text-align: center;color:red; margin: 20px"></div>
					<div style="margin:10px;text-align: center">
						<button class="findSearchMoreBtn" id="findSearchMoreBtn" type="submit" onclick="closeFindMore()">검색하기</button>
						<button id="findSearchMoreCloseBtn" type="button" onclick="closeFindMore()">닫기</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="d-CSS ContentBox center" th:if="${findDrugInfoList} != null and ${findDrugInfoList.size} == 0">
		<div class="d-CSS headTitle" style="margin-bottom:20px;">검색 결과가 없습니다.</div>
	</div>
	<div class="d-CSS ContentBox" th:unless="${findDrugInfoList} == null or ${findDrugInfoList.size} == 0">
		<div class="d-CSS headTitle">약품 검색 결과</div>
		<div class="d-CSS findCard" th:each="di:${findDrugInfoList}" th:onclick="|location.href='@{/drugs/{itemSeq}(itemSeq=${di.getItemSeq})}'|">
			<img class="d-CSS findCardImage" th:src="${di.getItemImage}" alt="이미지 준비중입니다."/><br>
			<div class="d-CSS findCardName"><span th:utext="${di.getItemName}"></span></div><br>
			<div class="d-CSS findCardEntp"><span th:utext="${di.getEntpName}"></span></div>
		</div>
	</div>
	<div th:replace="home_component.html :: footer"></div>
	<script type="text/javascript">document.querySelector('#headerSearchMoreBtn').onclick=openFindMore</script>
</body>
</html>