<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상세검색 페이지</title>
</head>
<body>
	<div>
		<h1>약품 정보 입력</h1>
		<div>
			각 항목에 검색어를 입력한 후 검색 버튼을 클릭하시면 해당 조건에 맞는 내용이 검색됩니다.
			여러 항목을 동시에 입력하여 검색하실 수 있습니다.
			검색어가 두 글자 이상인 경우에는 붙여쓰기를 해주세요
		</div>
		<table>
			<tr>
				<td>제품명</td>
				<td>(제품명)</td>
				<td>성분명</td>
				<td>(성분명)</td>
			</tr>
			<tr>
				<td>회사명</td>
				<td>(회사명)</td>
				<td>제형</td>
				<td>(원형, 마름모형, 육각형, 반원형, 삼각형, 팔각형, 오각형, 타원형, 장방형, 사각형, 기타)</td>
			</tr>
			<tr>
				<td>색상</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			
		</table>
	</div>
</body>
</html>