<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>가족 추가</h1>
	<div>
		<form action="/join/addUsingDrugs" method="post" th:object="${joinForm}">
			<div>
				<label for="familyNo">가족 관계</label>
				<select th:field="*{familyNo}" id="familyNo" name="familyNo" required>
					<option value="">===가족관계===</option>
					<option value="0">본인</option>
					<option value="1">엄마</option>
					<option value="2">아빠</option>
					<option value="3">배우자</option>
					<option value="4">자녀</option>
					<option value="5">기타</option>
				</select>
			</div>
			
			<div>
				<label for="gender">성별</label>
				<select  th:field="*{gender}" id="gender" name="gender" required>
					<option value="">성별</option>
					<option value="남자">남자</option>
					<option value="여자">여자</option>
				</select>
			</div>
			
			<div>
				<label for="birth">생년월일</label>
				<input th:field="*{birth}" type="date" name="birth" id="birth" required/>
			</div>
			
			<div>
				<label for="weight">몸무게(kg)</label>
				<input th:field="*{weight}" type="text" name="weight" id="weight" required/>
			</div>
			<div>
				<button type="button" th:onclick="|location.href='@{/login}'|">취소</button>
				<button type="submit">다음</button>
			</div>
		</form>
	</div>
</body>
</html>