<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>복용 중인 약물 추가</h1>
	<div>
		<div>
			<label for="usingDrugs">복용 중인 약</label>
			<input id="usingDrugs" name="usingDrugs" />
			<button type="button">검색</button>
			<button type="button" onclick="addDrug()">추가</button>
		</div>
		<div>
			<form action="/join/addAllergy" method="post" th:object="${usersInfoForm}">
			
				<div id="addDrugs">
				</div>
				
				<div>
					<button type="button" th:onclick="|location.href='@{/join/addInfo}'|">이전</button>
					<button type="submit">다음</button>
				</div>
			</form>
		</div>
	</div>
	
	
	<script>
		
		function addDrug() {
			//input 추가할 div 찾기
			const addDrugs = document.getElementById('addDrugs');
			//입력된 약물 가져오기
			let inputValue = document.getElementById('usingDrugs').value;
			//추가 기능(inputvalue 값이 있을 때만 추가되도록)
			if (inputValue != null && inputValue.trim() != "") {
				addDrugs.innerHTML += '<div id="'+inputValue+'box"><label for="'+inputValue+'">'
						+ inputValue
						+ '</lable><input name="usingDrugs" id="'+inputValue+'" value="'+inputValue+'" type="hidden" /><button type="button" onclick="deleteDrug(\''
						+ inputValue + 'box\')">삭제</button></div>'
			}
		}

		function deleteDrug(inputValuebox) {
			console.log(inputValuebox);
			document.getElementById(inputValuebox).remove();
		}
	</script>
	
</body>
</html>