<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Join Page</h1>
	<div>
		<form action="/join/welcome" method="post" th:object="${joinForm}">
			<div>
				<label for="userEmail">이메일</label>
				<input type="email" name="userEmail" id="userEmail" th:field="*{userEmail}"/>
				<button type="button">인증코드 받기</button>
			</div>
			
			<div>
				<label for="emailCodeCheck">인증코드</label>
				<input type="text" name="emailCodeCheck" id="emailCodeCheck" th:field="*{emailCodeCheck}"/>
				<button type="button">인증</button>
			</div>
			
			<div>
				<label for="userPw">비밀번호</label>
				<input type="password" name="userPw" id="userPw" th:field="*{userPw}"/>
			</div>
			<div>
				<label for="reJoinPw">비밀번호 확인</label>
				<input type="password" name="reJoinPw" id="reJoinPw" th:field="*{reJoinPw}"/>
			</div>
			
			<div>
				<label for="userNick">닉네임</label>
				<input type="text" name="userNick" id="userNick" th:field="*{userNick}"/>
			</div>
			<div>
				<button type="submit">가입하기</button>
			</div>
		</form>
	</div>
</body>
</html>