<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/error.css">
<title>약도 - 점검중</title>
</head>
<body>
	<div class="inspInfoBox">
		<div class="inspInfo1">사이트 점검중 안내</div>
		<div class="inspInfo2">지금은 서버 업데이트로 인하여 홈페이지를 사용하실 수 없습니다.</div>
		<div class="inspInfo2">( 서버 업데이트는 5시간 정도 소요될 수 있습니다. )</div>
	</div>
	<div class="inspTitleBox">
		<div class="d_CSS">
			<span class="inspTitle1">약도</span>
			<span class="inspTitle2">藥道</span>
		</div>
	</div>
</body>
</html>