@charset "UTF-8";

/* listSearch.html ===================================== */ 

.BBSlist{
	width:800px;
	margin: 100px auto;
}

.BBSheadTitle{
	color:var(--Signature-blue);
	font-size: 17px;
	font-weight: 700;
	width:800px;
	text-align: center;
}

a {
	text-decoration-line: none;
	color: black;
}

thead {
	background-color: rgb(233, 233, 233);
}

ul {
	list-style: none;
}

li {
	float: left;
	margin-left: 10px;
}



#BBS {
	margin-top:50px;
	text-align: center;
	font: Font-title1;
}

#searchBBS {
	width: 370px;
	margin: 0 auto;
}

#pageNumber {
	width: 350px;
	margin: 0 auto;
}

/* 글쓰기버튼 감싸고 있는 div */
#writeBtn {
	text-align: right;
	margin: 20px;
}

/* BBSwrite.html ============================================= */
.WriteBBSBox {
	margin: 70px auto;
	width: 800px;
	display: block;
}

.InputNick {
	height: 20px;
	margin: 5px;
}

.InputBBSTitle {
	width: 800px;
	height: 30px;
	margin: 5px;
}

.InputBBSContent {
	width: 800px;
	height: 350px;
	margin: 5px;
	resize: none;
}
.ReturnList{
	text-align: right;
	margin-bottom: 20px;
}

/* BBSView.html ================================================= */
.ViewContent{
	width: 800px;
	height: 350px;
	margin: 5px;
	border:none;
	resize: none;
}

.BBSViewTable{
	margin: 100px auto;
	width: 800px;
	display: block;
}

.ManagerBtn{
	margin-top: 20px;
	text-align: right;
}
.WriteComBtn{
	margin-top: 20px;
	text-align: right;
}
.ComContent{
	width: 700px;
	resize: none;
	border:none;
	height:50px;
	
}

.WriteCom{
	margin:50px auto;
}

.WriteComContent{
		width: 800px;
	resize: none;
	height:100px;
	
}

#comManageBtn{
/* 	margin-left: 10px; */
	margin:2px;
	width: 80px;
	height: 25px;
	background-color: light-gray;
	border: none;
	border-radius: 30px;
	color: gray;
	font-size: 14px;
	font-weight: 700;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=155020),auto;
}

/* writeAnswer.html */

.WriteRe{
	margin-top:50px;
}
