@charset "UTF-8";

/* listSearch.html ===================================== */
a {
	text-decoration-line: none;
	color: black;
}

thead {
	background-color: rgb(233, 233, 233);
}

ul {
	list-style: none;
}

li {
	float: left;
	margin-left: 10px;
}

#BBSlist {
	margin: 100px;
}

#BBS {
	text-align: center;
	font: Font-title1;
}

#searchBBS {
	width: 370px;
	margin: 0 auto;
}

#pageNumber {
	width: 350px;
	margin: 0 auto;
}

/* 글쓰기버튼 감싸고 있는 div */
#writeBtn {
	text-align: right;
	margin-bottom: 20px;
}

/* BBSwrite.html ============================================= */
.WriteBBSBox {
	
	margin: 80px auto;
	width: 800px;
	display: block;
}

.InputNick {
	height: 30px;
	margin: 15px;
}

.InputBBSTitle {
	width: 600px;
	height: 30px;
	margin: 15px;
}

.InputBBSContent {
	width: 600px;
	height: 350px;
	margin: 15px;
}