@charset "UTF-8";

/* DrugInfo page */
.content{
	margin:0px;
	padding:0px;
	display:inline-block;
	box-sizing:border-box;
	text-align:center;
}

.drugInfoImage{
	margin:0px;
	padding:0px;
	display:inline-block;
	box-sizing:border-box;
	width:800px;
}

.drugInfo{
	margin:0px;
	padding:0px;
	display:inline-block;
	box-sizing:border-box;
}


.infoCard1{
	margin:0px;
	padding:0px;
	border:1px solid black;
	box-sizing:border-box;
	display:inline-block;
	width:300px;
}

.infoCard2{
	margin:0px;
	padding:0px;
	border:1px solid black;
	box-sizing:border-box;
	display:inline-block;
	width:800px;
}

.infoTitle{
	margin:0px;
	padding:0px;
	color: blue;
	font-size: 20px;
	font-weight: 1000;
}

.infoContent{
	margin:0px;
	padding:0px;
	color: black;
	font-size: 20px;
}



/* FindDrug page */
.drugMarkModal{
		width:100%;
		height:100%;
		display:none;
	}