@charset "UTF-8";

/* 공용 */
body{
	
}

.d-CSS{
	margin:0px;
	padding:5px;
	display:inline-block;
	position: relative;
	box-sizing:border-box;
	white-space: normal;
	font-size: 15px;
}

.border{
	border:1px solid black;
}

.fontBlue{
	color: blue;
}







/* DrugInfo page */
.infoContentBox{
	margin:0px auto;
	width:800px;
	display:block;
	
}
.infoHeadTitle{
	color:blue;
	font-size: 17px;
	font-weight: 700;
	width:118px;
	margin: 40px 300px;
}
.infoImage{
	width:350px;
}
.infoHeadOutter{
	width:394px;
	top: -40px;
}
.infoHead{
	width:394px;
	margin-left: 20px;
	margin-bottom: 5px;
}
.infoTitle{
	color: blue;
	font-weight: 700;
	width: 77px;
}
.infoContent1{
	width: 301px;
}
.infoContent2{
	width: 250px;
	padding-bottom: 5px;
}
.infoContent3{
	width: 800px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
}

/* FindDrug page */
.drugMarkModal{
		width:100%;
		height:100%;
		display:none;
	}