@charset "UTF-8";

/* 공용 */
body{
	
}
.d-CSS{
	margin:0px;
	padding:5px;
	display:inline-block;
	position: relative;
	box-sizing:border-box;
	white-space: normal;
	font-size: 15px;
}
.border{
	border:1px solid black;
}
.fontBlue{
	color: blue;
}
.ContentBox{
	margin:0px auto;
	width:800px;
	display:block;
}
.headTitle{
	color:blue;
	font-size: 17px;
	font-weight: 700;
	width:124px;
	margin: 20px 300px;
}





/* DrugInfo page */


.infoImage{
	width:350px;
}
.infoHeadOutter{
	width:394px;
	top: -40px;
}
.infoHead{
	width:394px;
	margin-left: 20px;
	margin-bottom: 5px;
}
.infoTitle{
	color: blue;
	font-weight: 700;
	width: 77px;
}
.infoContent1{
	width: 301px;
}
.infoContent2{
	width: 250px;
	padding-bottom: 5px;
}
.infoContent3{
	width: 800px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
}

/* FindDrug page */
.findWarn{
	display: block;
	margin: 10px auto;
	width: 80%;
	background-color: lightgray;
	color: green;
	font-size: 13px;
}
.findGrid{
	padding:0px;
	display: grid;
	grid-template-columns: 120px 270px 120px 270px;
	border:1px solid blue;
}
.findGridLabel{ 
	background-color: lightgray;
 	height:54px;
 	border:1px solid #eeeeee;
}
.findGridContent{
	width:273px;
 	height:54px;
 	border:1px solid #eeeeee;
}
.innerGrid{
	margin: 15px 18px;
}
.findMarkModal{
	width: 800px;
	display:none;
	position: fixed;
	top: 100px;
	left: 100px;
	background-color: lightgray;
}
.findMarkModalInnerCard{
	width: 70px;
}