@charset "UTF-8";
/* 공용 */
body{
	background-color: var(--Bg-silver);
	cursor: url(/cursor/capsule.cur) 0 0, auto;
}
.d-CSS{
	margin:0px;
	padding:5px;
	display:inline-block;
	position: relative;
	box-sizing:border-box;
	white-space: normal;
	font-size: 15px;
}
.ContentBox{
	margin:0px auto;
	width:800px;
	display:block;
}
.mainTitleBox{
	width: 800px;
	text-align: center;
	padding-top: 100px;
}
.mainTitle1{
	color: var(--Signature-blue);
	font-size: 70px;
	font-weight: 1000;
	font-family: var(--Font-title1);
}
.mainTitle2{
	color: var(--Signature-silver);
	font-size: 35px;
	font-weight: 700;
	font-family: var(--Font-title2);
}
#goHomeBtn{
	margin-top: 20px;
	width: 440px;
	height: 50px;
	border: none;
	border-radius: 20px;
	color: var(--Lowtone-silver);
	font-size: 20px;
    font-weight: 700;
	background-color: var(--Signature-silver);
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=155020),auto;
}
.cursor{
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=155020),auto;
}

/* 로그인, 비번확인 */
.loginForm{
	display: block;
    text-align: center;
}
.loginEmailBox{
	margin-top: 40px;
}
#loginEmail{
	width: 400px;
	height: 50px;
	border: none;
	border-radius: 20px;
	padding-left: 40px;
	font-size: 17px;
}
.loginPwBox{
	margin-top: 20px;
}
#loginPw{
	width: 400px;
	height: 50px;
	border: none;
	border-radius: 20px;
	padding-left: 40px;
	font-size: 17px;
}
#loginBtn{
	margin-top: 30px;
	width: 440px;
	height: 50px;
	border: none;
	border-radius: 20px;
	color: var(--Lowtone-silver);
	font-size: 20px;
    font-weight: 700;
	background-color: var(--Signature-blue);
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=155020),auto;
}
.loginNav{
	display: block;
	margin-top: 40px;
}
.loginNavItem{
	color: var(--Signature-blue);
	margin: 40px;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=155020),auto;
}

/* 회원가입 */
.signUpTitleBox{
	width: 800px;
	text-align: center;
	padding-top: 50px;
}
.signUpTitle1{
	color: var(--Signature-blue);
	font-size: 50px;
	font-weight: 1000;
	font-family: var(--Font-title1);
}
.signUpTitle2{
	color: var(--Signature-silver);
	font-size: 25px;
	font-weight: 700;
	font-family: var(--Font-title2);
}
.signUpContent{
	text-align: center;
}
.signUpInputBox{
	text-align: left;
	margin: 10px;
	padding-left: 33px;
}
.signUpLabel{
	width: 130px;
	display: inline-block;
	text-align: center;
}
.signUpInput{
	width: 400px;
	height: 30px;
	border: none;
	border-radius: 10px;
	padding-left: 40px;
	font-size: 17px;
}
.signUpSelect{
	width: 442px;
	height: 30px;
	border: none;
	border-radius: 10px;
	padding-left: 40px;
	font-size: 17px;
}
.signUpButton{
	width: 100px;
	height: 30px;
	border: none;
	border-radius: 20px;
	color: var(--Lowtone-silver);
	font-size: 20px;
    font-weight: 700;
	background-color: var(--Signature-blue);
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=155020),auto;
}
.familyBox{
	border: 2px solid var(--Bg-gray);
    border-radius: 10px;
    display: block;
    margin-top: 30px;
    text-align: center;
}
.familyBoxTitle{
	display: block;
	margin: 10px auto;
	color: var(--Signature-silver);
	font-size: 20px;
	font-weight: 700;
}
.addDrug{
	margin-top: 10px;
	padding-left: 140px;
}
.addDrugBtn{
	border: none;
	border-radius: 5px;
	background-color: #a50004;
	color: white;
	font-weight: 1000;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=155020),auto;
	text-align: center;
	margin-left: 5px;
}
.signUpSubmitBtn{
	width: 200px;
    height: 50px;
    font-size: 27px;
    margin: 20px;
}

/* 회원탈퇴 */
.goodByeMsg{
	text-align: center;
	display: block;
}
.goodByeTitle{
	font-size: 20px;
    font-weight: 700;
    color: var(--Signature-blue);
    margin-top: 30px;
}
.goodByeContent{
	font-size: 18px;
    font-weight: 600;
    color: var(--Signature-silver);
    margin-top: 30px;
    margin-bottom: 150px;
}
/* 비밀번호 찾기 */
.findForm{
	display: block;
    text-align: center;
}
.findEmailBox{
	margin-top: 20px;
}
#findEmail {
	width: 300px;
	height: 50px;
	border: none;
	border-radius: 20px;
	padding-left: 40px;
	font-size: 17px;
}
#findEmailConfirm{
	width: 300px;
	height: 50px;
	border: none;
	border-radius: 20px;
	padding-left: 40px;
	font-size: 17px;
}
.findPwBox{
	margin-top: 20px;
}
.findPwButton{
	width: 90px;
	height: 50px;
	border: none;
	border-radius: 20px;
	color: var(--Lowtone-silver);
	font-size: 16px;
    font-weight: 600;
	background-color: var(--Signature-blue);
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=155020),auto;
}
#findPw{
	width: 400px;
	height: 50px;
	border: none;
	border-radius: 20px;
	padding-left: 40px;
	font-size: 17px;
}
#findPwConfirm{
	width: 400px;
	height: 50px;
	border: none;
	border-radius: 20px;
	padding-left: 40px;
	font-size: 17px;
}
#changeBtn{
	margin-top: 30px;
	width: 440px;
	height: 50px;
	border: none;
	border-radius: 20px;
	color: var(--Lowtone-silver);
	font-size: 20px;
    font-weight: 700;
	background-color: var(--Signature-blue);
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=155020),auto;
}

/* myPage */
.myPageContainor {
	width:800px;
	margin : 0 auto;
	margin-top : 100px;
	display : grid;
	place-items: center;
	grid-template-columns: repeat(auto-fill, 1fr);
	gap: 20px 20px;
	margin-bottom : 100px;
	
}
.myPageTitle {
	text-align : center;
	grid-column: 1 / 4;
	margin-bottom : 10px;
}
.nickameColor {
    color: var(--Signature-blue);
}
.card-body {
	height:251.34px;
}
.card-link:hover {
    color: var(--Signature-blue);
}
.withrawBox {
	grid-column: 1 / 4;
}
.withrawBtn {
    color: var(--Signature-silver);
    font-size : 13px;
}
.withrawBtn:hover {
    color: black;
}

/* modifyNickName */
.modifyNickContainor {
	width:800px;
	margin : 0 auto;
	margin-top : 100px;
	display : grid;
	place-items: center;
	grid-template-columns: repeat(auto-fill, 1fr);
	gap: 20px 20px;
}
.myInfoUserEmail input{
	width : 300px;
	height : 30px;
	padding-left : 15px;
	border-radius: 5px;
	font-size: 15px;
	border : none;
}
.modifyNickname input{
	width : 300px;
	height : 30px;
	padding-left : 15px;
	border-radius: 5px;
	font-size: 15px;
	border : none;
}
.myInfoUserEmail div:nth-child(1) {
	margin-bottom : 10px;
}
.modifyNickname div:nth-child(1) {
	margin-bottom : 10px;
}
.modifyNickname div:nth-child(2) {
	text-align: center;
}
.userNickInput {
	margin-bottom : 20px;
}
.userNickInputBtn, .userNickCancelBtn {
	border : none;
	width : 100%;
	background-color : var(--Signature-blue);
	margin-bottom : 5px;
	color : white;
	height : 30px;
	border-radius: 5px;
	font-size: 15px;
}
.userNickCancelBtn {
	background-color : var(--Signature-silver);
}
.userNickInputBtn:hover {
	background-color : #213b6c;
}
.userNickCancelBtn:hover {
	background-color : #5f5f5f;
}
.perforatedLine {
	width : 800px;
	margin-top : 10px;
	margin-bottom : 20px;
	opacity:0.6;
}
.mainTitle3 {
	margin-bottom : 30px;
	color : var(--Signature-silver);
	font-size : 15px;
}

/*modifyPassword*/
.modifyPwContainor {
	width:800px;
	margin : 0 auto;
	margin-top : 100px;
	display : grid;
	place-items: center;
	grid-template-columns: repeat(auto-fill, 1fr);
	gap: 20px 20px;
}

.modifyPwTitleBox {
	width: 800px;
	text-align: center;
}
.modifyPwInput input {
	width : 300px;
	height : 30px;
	padding-left : 15px;
	border-radius: 5px;
	font-size: 15px;
	border : none;
}
.modifyPwInput div {
	margin-bottom : 20px;
}
.modifyPwBtn, .modifyPwCancelBtn {
	border : none;
	width : 100%;
	background-color : var(--Signature-blue);
	margin-bottom : 5px;
	color : white;
	height : 30px;
	border-radius: 5px;
	font-size: 15px;
}
.modifyPwCancelBtn {
	background-color : var(--Signature-silver);
}
.modifyPwBtn:hover {
	background-color : #213b6c;
}
.modifyPwCancelBtn:hover {
	background-color : #5f5f5f;
}
.modifyPwPoint {
	color : var(--Signature-blue);
}

.cardBtn {
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=155020),auto;
}

/* 정보 추가 */
.addFormBox{
	display: block;
	margin: 0px auto;
	text-align: center;
}
.infoList{
	margin: 10px;
	font-size: 20px;
	font-weight: 600;
}
.infoButton{
	display: block;
	margin: 10px auto;
	margin-top: 30px;
	width: 230px;
	height: 30px;
	border: none;
	border-radius: 20px;
	color: var(--Lowtone-silver);
	font-size: 20px;
    font-weight: 700;
	background-color: var(--Signature-blue);
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=155020),auto;
}
.infoListBox{
    display: block;
	padding: 10px;
    margin: 20px auto;
    border: 3px solid var(--Signature-silver);
    border-radius: 20px;
}