@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@900&display=swap');
/* 변수 */
:root{
	--Signature-blue: #315290;
	--Lowtone-blue: #77b6ea;

	--Signature-silver: gray;	
	--Lowtone-silver: #eeeeee;
	
	--Bg-silver: #f4f7f9;
	--Bg-gray: #dddddd;
	
	--Font-title1: 'Noto Serif KR', serif;
}