@charset "UTF-8";
@font-face{
	font-family: 'maruburi';
	src:url('/font/maruburi/MaruBuri-Regular.ttf') format('truetype');
	font-weight: narmal;
}
@font-face{
	font-family: 'maruburi';
	src:url('/font/maruburi/MaruBuri-Bold.ttf') format('truetype');
	font-weight: bold;
}
@font-face{
	font-family: 'hmfmold';
	src:url('/font/HMFMOLD.TTF') format('truetype')
}

label{
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=155020),auto;
}
input{
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=155020),auto;
}
select{
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=155020),auto;
}
.d-CSS{
	margin:0px;
	padding:5px;
	display:inline-block;
	position: relative;
	box-sizing:border-box;
	white-space: normal;
	font-size: 15px;
}

/* 변수 */
:root{
	--Signature-blue: #315290;
	--Lowtone-blue: #77b6ea;

	--Signature-silver: gray;	
	--Lowtone-silver: #eeeeee;
	
	--Bg-silver: #f4f7f9;
	--Bg-gray: #dddddd;
	
	--Font-title1: 'maruburi';
	--Font-title2: 'hmfmold';
	
}
