<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="d-CSS center headerMain" th:fragment="header">
	<script type="text/javascript">
		function logout(){
			document.querySelector('#logoutBtn').submit();
		}
	</script>
	<div>
		<div class="headerTitle"><span class="headerTitle1" onclick="location.href='/'">약도</span><span class="headerTitle2" onclick="location.href='/'">藥道</span></div>
	</div>
	<div class="headerNavBox">
		<form action="/drugs" method="post">
			<input id="headerSearchInput" type="text" name="searchAll" placeholder="통합검색"/>
			<button id="headerSearchBtn">검색</button>
			<button id="headerSearchMoreBtn" type="button" onclick="openFindMore()">상세검색</button>
		</form>
	</div>
	<div class="headerSearchBox">
		<span th:if="${user}==null and ${uriHere}==null" id="headerNavLogin" onclick="location.href='/login'">로그인</span>
		<span th:if="${user}==null and ${uriHere}!=null" id="headerNavLogin" th:onclick="|location.href='@{/login?redirectURL={uriHere}(uriHere=${uriHere})}'|">로그인</span>
		<span th:if="${user}!=null" id="headerNavLogin" onclick="logout()">로그아웃</span>
		<span id="headerNavJoin" onclick="location.href='/signUp'">회원가입</span>
		<span id="headerNavBBS" onclick="location.href='/BBS/BBSlist'">이용문의</span>
		<span th:if="${user}!=null and ${user.userGrade}<2" id="headerNavAdmin" onclick="location.href='/admin'">관리자페이지</span>
	</div>
	
	<form th:if="${uriHere}!=null" style="display:none;" id="logoutBtn" class="d-CSS" th:action="@{/logout?redirectURL={uriHere}(uriHere=${uriHere})}" method="post"></form>
	<form th:if="${uriHere}==null" style="display:none;" id="logoutBtn" class="d-CSS" th:action="@{/logout?redirectURL='/'}" method="post"></form>
</div>

<div class="d-CSS center headerMain" th:fragment="infoHeader">
	<script type="text/javascript">
		function logout(){
			document.querySelector('#logoutBtn').submit();
		}
	</script>
	<div>
		<div class="headerTitle"><span class="headerTitle1" onclick="location.href='/'">약도</span><span class="headerTitle2" onclick="location.href='/'">藥道</span></div>
	</div>
	<div class="headerNavBox">
		<form action="/drugs" method="post">
			<input id="headerSearchInput" type="text" name="searchAll" placeholder="통합검색"/>
			<button id="headerSearchBtn">검색</button>
			<button id="headerSearchMoreBtn" type="button" onclick="location.href='/drugs'">상세검색</button>
		</form>
	</div>
	<div class="headerSearchBox">
		<span th:if="${user}==null and ${uriHere}==null" id="headerNavLogin" onclick="location.href='/login'">로그인</span>
		<span th:if="${user}==null and ${uriHere}!=null" id="headerNavLogin" th:onclick="|location.href='@{/login?redirectURL={uriHere}(uriHere=${uriHere})}'|">로그인</span>
		<span th:if="${user}!=null" id="headerNavLogin" onclick="logout()">로그아웃</span>
		<span id="headerNavJoin" onclick="location.href='/signUp'">회원가입</span>
		<span id="headerNavBBS" onclick="location.href='/BBS/BBSlist'">이용문의</span>
		<span th:if="${user}!=null and ${user.userGrade}<2" id="headerNavAdmin" onclick="location.href='/admin'">관리자페이지</span>
	</div>
	
	<form th:if="${uriHere}!=null" style="display:none;" id="logoutBtn" class="d-CSS" th:action="@{/logout?redirectURL={uriHere}(uriHere=${uriHere})}" method="post"></form>
	<form th:if="${uriHere}==null" style="display:none;" id="logoutBtn" class="d-CSS" th:action="@{/logout?redirectURL='/'}" method="post"></form>
</div>

<div class="d-CSS footerMain" th:fragment="footer">
	<div>
		<div class="fotterBottomLine"><span class="footerTitle1">약도</span><span class="footerTitle2">藥道</span></div>
	</div>
	<div>
		<div style="margin-top:13px">휴먼교육센터 6교육실 3차 프로젝트 "약도"</div>
		<div style="margin-top:10px">제작목적1 : 회원 맞춤형 안내를 포함한 약품의 검색 및 식별, 효능과 용법용량 부작용등의 확인.</div>
		<div style="margin-top:10px">제작목적2 : Java Spring ThymeLeaf 기반의 페이지 제작</div>
		<div style="margin-top:10px">제작자 : 배고운, 빙예은, 홍준표 (3조-InT)</div>
		<div style="margin-top:10px">제작기간 : 2022년 12월 14일 ~ 2023년 1월 11일 (3차 프로젝트 기간)</div>
		<div style="margin-top:10px">깃허브 : <a href="https://github.com/InT3jo/int3jo" target="_blank">https://github.com/InT3jo/int3jo</a></div><br>
		<div style="margin-top:10px">.Copyright 2023. InT3Jo All rights reserved.</div>
	</div>
</div>
</html>