<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/var.css">
<link rel="stylesheet" type="text/css" href="/css/home.css">
<title>약도 - 개인맞춤형 약품 검색</title>
</head>
<body>
	<script type="text/javascript">
		function logout(){
			document.querySelector('#logoutBtn').submit();
		}
	</script>
	
	<div class="ContentBox">
		<div class="mainTitleBox">
			<div class="d_CSS">
				<span class="mainTitle1">약도</span>
				<span class="mainTitle2">藥道</span>
			</div>
		</div>
		<div>
			<div class="mainSubTitle">( 개인맞춤형 약품 검색 )</div>
		</div>
		<div class="mainSearchBox">
			<form action="drugs" method="post">
				<input id="mainSearchInput" type="text" name="searchAll" placeholder="통합검색" required="required"/>
				<button id="mainSearchBtn" type="submit">검색</button>
				<button id="mainSearchMoreBtn" type="button" th:onclick="location.href='/drugs'">상세검색</button>
			</form>
		</div>
		<div class="mainNavBox">
			<span th:if="${user}==null" id="mainNavLogin" onclick="location.href='/login'">로그인</span>
			<span th:if="${user}!=null" id="mainNavLogin" onclick="logout()">로그아웃</span>
			<span th:if="${user}==null" id="mainNavJoin" onclick="location.href='/signUp'">회원가입</span>
			<span th:if="${user}!=null" id="mainNavJoin" onclick="location.href='/help/myPage'">마이페이지</span>
			<span id="mainNavBBS" onclick="location.href='/BBS/listSearch'">이용문의</span><br>
		</div>
		<div style="text-align: right; margin: 20px;">
			<span th:if="${user}!=null and ${user.userGrade}<2" id="mainNavAdmin" onclick="location.href='/admin'">관리자페이지</span>
		</div>
		<div>
			<span class="mainWelcome" th:if="${user}!=null">
				<span class="mainWelcome1" th:text="${user.userNick+'('+user.userEmail+')'}" onclick = "location.href='/help/myPage'"></span>
				<span class="mainWelcome2">님 환영합니다.</span>
			</span>
		</div>
		<form style="display:none;" id="logoutBtn" class="d-CSS" action="/logout" th:action="@{/logout}" method="post"></form>
	</div>
</body>
</html>