<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div>
		<h1>Login Home</h1>
	
		<div>
			<p><span th:text="${user.userNick}"></span>(<span th:text="${user.userEmail}"></span>)님 환영합니다.(대충 환영 이모티콘)</p>
			<form action="/logout" th:action="@{/logout}" method="post">
					<button type="submit">로그아웃</button>
			</form>
			<form action="drugs" method="post">
				<input type="text" name="searchAll" placeholder="통합검색"/>
				<button type="submit">검색</button>
				<button type="button" th:onclick="|location='@{/drugs}'|">상세검색</button>
			</form>
			<button th:onclick="|location='@{/BBS/BBSlist}'|">이용문의</button>
			<div th:if="${user.userGrade}==1 or  ${user.userGrade}==0">
			<button th:onclick="|location='@{/admin}'|">관리자페이지</button>
			</div>
		</div>
	</div>
</body>
</html>